[2017-05-03 04:38] bubundas17 opened #1 "Error!"
Error in Python 3.6 windows 10 and windows server 2016

![screenshot_20170503100721](https://cloud.githubusercontent.com/assets/26280146/25648330/54851dee-2fe8-11e7-8d63-127d97ec0183.png)

[2017-05-03 17:51] r0oth3x49 commented on #1
@bubundas17 Currently its only compatible with Python 2.7 Soon 'll make it work on both python 2.x and 3.x, till then you have to install Python 2.7 to use this utility and it is also mention in README.md..

[2017-05-03 17:57] #1 closed

[2017-05-20 21:03] jasonsparc opened #2 "Download captions as well?"
This would be great if it could download captions as well.

[2017-05-22 13:02] r0oth3x49 commented on #2
@jasonsparc it gets the video with subtitles if there is subtitle available.. what kind of problem you are facing can you be more specific ?

[2017-05-22 13:59] jasonsparc commented on #2
@r0oth3x49 It works great man! 👍

But I tried downloading a few lectures from https://www.udemy.com/unrealcourse which has subtitles on each lecture. So far, I cancelled the operation after downloading enough videos, just so that I could see if the script can download the webvtt subtitle files as well (either as ".vtt" or ".srt")...

I also peeked on the implementation of the script and saw that i

[2017-05-22 20:02] r0oth3x49 commented on #2
@jasonsparc thanks for the suggestion i have updated the code and added feature to download captions.
let me know if you still have the problem.
here is the POC:
[![caption.png](https://s18.postimg.org/clbmzwi6x/caption.png)](https://postimg.org/image/ghoyvw36d/)

[2017-05-23 08:06] jasonsparc commented on #2
@r0oth3x49 This is awesome! It works perfectly!

You've even added the download links for the subtitles in the `-s` command. Thanks man! 👍
This will be my new udemy downloader script.

[2017-05-23 09:06] jasonsparc commented on #2
Oh! I got another problem. Apparently, some videos got the spanish subtitles.

How about download all the subtitles as well and then add a language code at the end of the filename?

Example,
- "002 Welcome to the Course-subtitle.es.vtt"
- "002 Welcome to the Course-subtitle.en-gb.vtt"

...that way, my media player could simply automatically choose the english subtitle track, the default language f

[2017-05-23 15:53] r0oth3x49 commented on #2
@jasonsparc once again Thanks, i have updated the code check it out and let me know if you still face  the problem in downloading all available subtitles..
POC of update:
[![captions.png](https://s21.postimg.org/9cere0fc7/captions.png)](https://postimg.org/image/kbzypm5r7/)

[2017-05-24 12:19] jasonsparc commented on #2
This is great man! I should be the one thanking you!

[2017-05-24 12:19] #2 closed

[2017-07-06 12:09] aztazt opened #3 "max() arg is an empty sequence"
Hello,

I have an issue with this command :
`python udemy-dl.py -u specialspam@gmail.com -p myPa$$w0rdisKewl https://www.udemy.com/learn-microsoft-excel-formulas-and-functions-with-examples/
`

(coupon code = BLOG_FREE)

The script downloads the first 2 videos then crash with the following output :

`[*] : Lecture : '002 Course-Resources-Formulas.zip' (already downloaded).
Traceback (most recent c

[2017-07-08 18:42] r0oth3x49 commented on #3
@aztazt thanks. Improved code quality to handle the error.  let me know if you still face the same problem.

[2017-07-09 04:10] #3 closed

[2017-07-30 20:02] dschaper opened #4 "UnboundLocalError: 'chap' referenced before assignment."
Created a virtualenvironment with Python 2.7 as the interpreter. Added required via `pip install -r requirements.txt`. Invoked script and received the following error: (Redacted private infromation)

[code]

[2017-08-01 05:39] iPhoNewsRO opened #5 "ImportError: No module named udemy"
hello, after cloning this repo, installing the requirements and so, i get this:

[code]

any help?

[2017-08-01 17:23] r0oth3x49 commented on #5
@iPhoNewsRO  Can you explain a bit more with screenshots. and which OS r u using? And can you please explain why you referenced an Issue that is not related to this repo?

[2017-08-01 18:04] r0oth3x49 commented on #4
@dschaper can you show me the link of course you are trying to download?

[2017-08-01 18:34] r0oth3x49 commented on #4
@dschaper let me know if you still face an error

[2017-08-01 18:35] #5 closed

[2017-08-01 19:52] dschaper commented on #4
That fix seems to have resolved the problem. Thanks!

[2017-08-01 19:52] #4 closed

[2017-08-03 07:14] iPhoNewsRO commented on #5
i am running macOS 10.12.6 (16G29) and this issue is happening on your project.

[2017-08-07 05:19] dschaper opened #6 "[PROPOSAL] Add flag to automatically download default quality if requested is not available."
If a non-default resolution is selected via `-r` any course segments that do not have that quality available require a manual 'y' entry to continue the process. Propose that an additional command line flag be added to automatically download the default if requested is not available.

[2017-08-07 05:20] dschaper opened #7 "[PROPOSAL] Move user/pass to config file instead of command line argument."
Would be nice to be able to place the user and pass in a formatted (JSON|YAML|Plain Text) file that would be pulled in on script run, instead of having to enter them as command line arguments.

[2017-08-10 08:02] r0oth3x49 commented on #6
@dschaper added features thanks for the proposal. try it and let me know if you face some problem.
here is the POC.
[![allow_default.png](https://s27.postimg.org/woukio5cz/allow_default.png)](https://postimg.org/image/63s1n42zj/)

[2017-08-10 08:09] r0oth3x49 commented on #7
@dschaper added feature to cache the credentials in file name "credentials" under the same directory where "udemy-dl.py" is. try it and let me know if you face some problem.

POC for caching credentials:
[![cache_creds_cmdline.png](https://s28.postimg.org/4gh0nylel/cache_creds_cmdline.png)](https://postimg.org/image/6xsrv85ax/)

POC for using cached credentials
 [![using_cached_creds.png](https://

[2017-08-10 19:49] dschaper commented on #7
Looks great! Thanks, this does lead to another feature that may be something to look at, and that's a config file that would allow users to set all the flags once, user/pass and resolution requested with the download anyways.

[code]

Maybe JSON isn't the best for that kind of configuration, but something along those lines. Then all you'd need on the CLI would be the URL to the course.

[2017-08-10 19:51] dschaper commented on #6
LGTM, closing :)

[2017-08-10 19:51] #6 closed

[2017-08-11 08:13] r0oth3x49 commented on #7
@dschaper updated feature of caching credentials. the force download or allow default resolution option is set to True by default. now you just need to edit configuration file.

[2017-08-12 10:00] #7 closed

[2017-08-12 20:37] r0oth3x49 commented on #5
@iPhoNewsRO i have updated and tested on macOS it is working fine now. try it and let me know if you still face the same problem.

[2017-08-16 03:15] channimol opened #8 "problem with pip install"
when I type:

I got this message:

and I have already install all the requirements.
What's wrong with that?

[2017-08-16 05:39] r0oth3x49 commented on #8
@channimol first make sure that you have clone/downloaded the complete repo, then open terminal in the same directory where **udemy-dl.py** is, check if requirements.txt exists then use pip command to install.

**Alternative**
You can also install the requirements by using separate  commands for both dependencies.
Example (Linux if running as other than root) make sure python-pip is installed in l

[2017-08-16 17:43] #8 closed

[2017-09-05 09:19] Wayne-Mather opened #9 "Thanks!"
No Issues, just yours is the first fork I have found that just works (since the requested quality not found issue).

I don't use this to pirate but just to watch my purchased videos at work behind a corporate firewall so this works well for me.

[2017-09-05 09:39] r0oth3x49 commented on #9
@Wayne-Mather thanks for your appreciation & suggestions are always welcome to improve this utility.

[2017-09-05 10:00] #9 closed

[2017-09-08 15:31] tofanelli opened #10 "Error downloading a course"
Hi! How's going? hope ok...

I was trying to download a [course](https://www.udemy.com/complete-guide-to-front-end-web-development-and-design/) with an outdated udemy-dl version, but every time the program falls in this error

and stop... So, I updated the udemy-dl to the latest version, and tried to download the same course again, and got this error now

any thoughts? =)

Cheers =)

[2017-09-09 05:37] r0oth3x49 commented on #10
@tofanelli thanks for the report. can you please make sure that every package required to run udemy-dl is up to date, After upgrading packages to the latest one try again and show me the Screenshot if you face any problem.
i tried that course with the same version of python36 and worked fine for me.
Here is POC.

[2017-09-12 06:05] #10 closed

[2017-09-21 04:41] tofanelli commented on #10
Well... this is quite weird.... I'm using Python 3.6.2.... this make any difference?

[2017-10-04 21:11] oscarinom opened #11 "Files with "?" or special chars in Windows (Bash)"
udemy-dl can't save or load files with "?" or special characters in their video names

Can you take a look into this pls ?

[2017-10-05 16:13] r0oth3x49 commented on #11
@oscarinom thanks for the report. actually windows have  reserve  characters such as <>/\?:"* which we are not allowed to use in file naming thats why udemy-dl is just replacing that with _ to download file normally.
for more details you can check this link.
[Naming Files, Paths, and Namespaces (Windows) - MSDN - Microsoft](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85)

[2017-10-06 19:06] #11 closed

[2017-10-19 08:17] leo459028 opened #12 "about subtitle"
1 Could it  just add the download subtitle(don't download video) ？ Ex : udemy-dl -subonly
2  Could it change the subtitle format (ex: vtt  to srt) ?   Ex:udemy-dl -subformat vtt2srt

Tks for your help. This is great.

[2017-10-19 08:54] r0oth3x49 commented on #12
@leo459028 thanks for your suggestion. considering this option for the new release.

[2017-10-19 09:00] #12 closed

[2017-10-24 16:05] oscarinom commented on #11
Oh, well sorry about the delay of my reply.

But more specific, in every video that have a "?" I'm having this (obv, can't continue downloading)

Using Bash for Windows 10
![image](https://user-images.githubusercontent.com/7976341/31954444-fabeaf02-b8bb-11e7-9a79-6870856744c8.png)

[2017-10-25 12:44] bharathgrk opened #13 "UnicodeEncodeError: 'ascii' codec can't encode characters in position 51-52"
I'm having an issue while downloading the course [iOS 11 & Swift 4 - The Complete iOS App Development Bootcamp](https://www.udemy.com/ios-11-app-development-bootcamp/). The download stopped with the following error message:

  File "udemy-dl.py", line 646, in <module>
    main()
  File "udemy-dl.py", line 496, in main
    udemy.ExtractAndDownload(path=outto, quality=res, default=True)
  File "udem

[2017-10-28 06:44] r0oth3x49 commented on #13
@bharathgrk thanks for trying this out. first of all can you please make sure you have an updated repo of udemy-dl and then try again the same course and post the Screenshot here. currently i don't have macOS Sierra i 'm using macOS Mavericks on which i have already tested and it works fine. BTW sorry for the late response. i will soon update the repo.

[2017-10-28 13:30] jdsantiagojr commented on #13
Running into same issue on macOS Sierra 10.13 in docker container. Was trying to download ethereum-dapp course at 720p.

[2017-10-28 17:28] KarthickCSK opened #15 "What if the domain is different as in my case. i.e instead of www the url is wipro ."
I tried to change the source code but got an error 👎

[INFO-107] Trying to log in ...
Traceback (most recent call last):
  File "C:\python\lib\site-packages\udemy_dl\udemy_dl.py", line 97, in get_csrf_token
    return match.group(1)
AttributeError: 'NoneType' object has no attribute 'group'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  F

[2017-10-29 19:39] r0oth3x49 commented on #15
@KarthickCSK currently this repo does not support any sub domain of udemy. may be in next release i 'll add the functionality for that you can contact me on my social account [Nasir Khan (r0oth3x49)](https://www.facebook.com/r0oth3x49).

[2017-10-29 19:40] #15 closed

[2017-10-31 06:53] bharathgrk commented on #13
Cloned the repo using the git clone command in your readme file and tried the download again with the same result. Attaching the screenshot below. Thanks for responding.

![screen shot 2017-10-31 at 12 21 01](https://user-images.githubusercontent.com/9738122/32210934-40ef4124-be36-11e7-9daa-9bc26ac32dde.png)

[2017-11-08 22:41] dodyrosjidi opened #16 "Connection error : make sure your internet connection is working."
Hi,
I was install all requirement on my Mac Sierra, but when i try to execute command "python udemy-dl.py -u EMAIL -p PASSWORD https://www.udemy.com/COURENAME", show this error :
Connection error : make sure your internet connection is working
What happen?
Any solution?

Thanks

[2017-11-09 06:39] r0oth3x49 commented on #16
@dodyrosjidi this is not an error, try with super user (root) i have tested this with super user it works fine.

[2017-11-09 07:26] dodyrosjidi commented on #16
i try duso su like this

Dodys-MacBook-Air:~ dodyrosjidi$ sudo su
Password:
sh-3.2# cd /volumes/data/udemy/udemy-dl
sh-3.2# python udemy-dl.py -u USERNAME -p PASSWORD https://www.udemy.com/learning-yii-2/learn/v4/

              __                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __/ / / / / /

[2017-11-09 09:37] r0oth3x49 commented on #16
@dodyrosjidi do not use "/learn/v4/overview" in the course url.

try like this.
python udemy-dl.py -u USERNAME -p PASSWORD https://www.udemy.com/learning-yii-2

let me know if you still face the problem

[2017-11-09 12:49] r0oth3x49 commented on #16
@dodyrosjidi here is a quick fix for you if you are using python2.
pip install requests[security]

then try downloading your course it will work fine i just checked.

[2017-11-09 12:55] #16 closed

[2017-11-09 16:45] selenafa commented on #13
[code]
here is the solution of the problem.
note : I tested this and works well it can be merged

[2017-11-09 16:55] selanium opened #17 "Problem about download Resources"
Hi, there is 2 problem about resources and links.

**first is that you can download only 1x resource link `links-to-visit` from every chapter.** I mean if there is 5x chapter, and every chapter has 8 lecture I can see only the last lecture link. so I cant download lecture 1 - 7 links or resources. and it is possible that every lecture has more than 2-3x resource link

**second problem is about Qui

[2017-11-09 17:04] selanium opened #18 "Extra Option - Idea"
a small idea, it will be good to add an option for download things. a Boolean option like bellow

[code]

in this case we can save a lot of time and space, and download the parts that is necessary for us

[2017-11-09 18:14] r0oth3x49 commented on #17
@selanium i will look into these problems thanks for the report+suggestions. currently i 'm closing this issue.

[2017-11-09 18:14] #17 closed

[2017-11-09 18:26] r0oth3x49 commented on #18
@selanium i think for configuration already used options are enough.

[2017-11-09 18:26] #18 closed

[2017-11-09 18:33] r0oth3x49 commented on #13
@bharathgrk as i said i 'm working on new release which has the patch for this error as well. sorry for the late response.

[2017-11-09 19:13] selanium commented on #13
sorry r0oth3x49 can we speak in another place? like skype or telegram or yahoo. thanks

[2017-11-09 20:41] selanium commented on #17
I find another bug too, it is same with **first issue** but a little more detail.
sometimes I see duplicate links in text file. forexample 2x from the same link

[2017-11-09 20:45] r0oth3x49 commented on #17
@selanium this is not the bug it gets all the external links and adds it to the file to visit no matter it the same external link is present with each video it will append that in a file.

[2017-11-09 20:48] r0oth3x49 commented on #13
@selanium you can add me on fb. [r0oth3x49](https://www.facebook.com/r0oth3x49)

[2017-11-14 12:32] r0oth3x49 commented on #13
@bharathgrk issue is fixed now in new version.

[2017-11-14 12:32] #13 closed

[2017-11-14 13:35] bharathgrk commented on #13
@r0oth3x49 new version worked like a charm, thanks for the fix.

[2017-11-15 05:53] selanium opened #19 "Error downloading Files"
Hi, this is an error that I get after around 15-20 min of running program

this is happen only after some period of time, not at start of the program

[2017-11-15 06:00] selanium opened #20 "Resource Bug"
Hi, thanks for the new version it work well and caption futures too, just there is one error that I post it in another issue,

ok lets say current issue about this topic
`https://github.com/r0oth3x49/udemy-dl/issues/17`
about this problem, it is again same but now it is a little changed, there is no .txt file like before. but the same problem about lectures is still bug
lets say we have 3 chapter

[2017-11-15 06:02] selanium opened #21 "pdf / quizzes"
as the topic **pdf / quizzes** are **not** detected with this program, so we can download non of these files

[2017-11-15 06:05] r0oth3x49 commented on #20
@selanium which course are you downloading.

[2017-11-15 06:11] r0oth3x49 commented on #21
@selanium quizzes are out of scope if you buy a course videos and other material are enough for learning quizzes can be taken on the basis of your learning that's why i haven't included the download of quizzes so i 'm closing this issue. for other files such as PDF and other i 'll w8 for more reports.

[2017-11-15 06:11] #21 closed

[2017-11-15 06:13] r0oth3x49 commented on #19
@selanium i cannot reproduce this error can you attach the screen shot.

[2017-11-15 06:59] #20 closed

[2017-11-15 07:23] #19 closed

[2017-11-15 18:35] selanium commented on #20
it is same, for all courses, just find a course with with more than 1x ( I mean 2, 3 , 4 ,5, ...) in one lecture only.

[code]

[code]

so every lecture with more than 1x ( 2,3,4,...) we have only the last one, so if we have **3** downloable file we can download only **download file 3**
if we have 4, only I can download ,**download file 4**
only case that it works is 1 downloadble file, so it down

[2017-11-16 23:12] PatrikValkovic opened #22 "Android course"
App raise Error, when try to download https://www.udemy.com/become-an-android-developer-from-scratch course.
[code]
versions:
[code]

using Windows 10.

[2017-11-17 10:45] r0oth3x49 commented on #22
@PatrikValkovic thanks for the report i have fixed the issue. check again and let me know if you are still facing the problem.
POC.
![test](https://user-images.githubusercontent.com/11024397/32943508-3091e8f6-cbae-11e7-8a2d-aa4891e42780.png)

[2017-11-17 12:45] PatrikValkovic commented on #22
Seems that its working fine now. Thx.

[2017-11-17 12:45] #22 closed

[2017-11-20 04:59] welkie opened #23 "[Errno 2] No such file or directory when downloading course"
I'm getting the following error message when I try to download a course:

Traceback (most recent call last):
  File "/opt/udemy-dl/udemy-dl.py", line 858, in <module>
    main()
  File "/opt/udemy-dl/udemy-dl.py", line 774, in main
    udemy.ExtractAndDownload(path=outto)
  File "/opt/udemy-dl/udemy-dl.py", line 387, in ExtractAndDownload
    out = self.Downloader(_url, lecture_name, chapter_path)

[2017-11-20 07:09] r0oth3x49 commented on #23
@welkie thanks for the report. can you please explain a bit more?according to the error OS might not allowing udemy-dl to create directory and subdirectory with chapter name. you should provide permission to all files and directory inside **udemy-dl**.
are you using the default command to download?
**Example:**. with this option udemy-dl creates dir in same dir where udemy-dl is.
[code]
Course url

[2017-11-20 17:02] Chlitzxer opened #24 "Spanish Characters Support"
Hi first thanks for this magnificent script it would be nice to add support for Spanish characters like "á, é, í, ó, ú, ñ".

A good example is "https://www.udemy.com/universidad-java-especialista-en-java-desde-cero-a-master/" the files are coming for example` "019 Lecci n_ Variables en Java" instead of "Lección Variables en Java", same problem with the folder structure, comes "03 Fundamentos Java_

[2017-11-21 01:46] welkie commented on #23
@r0oth3x49
I was running the command with the following format:
[code]

But I was using the full URL my browser gave me when I right clicked on the course and clicked ```Copy Link Location```. I did not remove the ```/learn/v4``` from the end of it.

Here I'm about to log some troubleshooting steps as I do them.

When I try again while removing the end of the URL so that it's in the format you spe

[2017-11-21 06:17] r0oth3x49 commented on #23
@welkie thanks for the details. about the full URL i will add fix for that which will check the for `/learn/v4` and if it is there it will remove. currently this script is simply splits the URL by `/` and extract the name of from last index. in the following example **last index is  `v4`** which the script selects for the course name that's why it saves course in `v4` in your case.
Example:
[code]

[2017-11-21 06:18] r0oth3x49 commented on #24
@Chlitzxer thanks for the suggestion. i will try to add this as soon as possible

[2017-11-21 09:23] welkie commented on #23
No problem, thanks for making it available. It really helps with having good offline access to my courses.

[2017-11-21 13:54] Chlitzxer commented on #24
@r0oth3x49 Thanks for your time and effort!

[2017-11-23 04:20] Chlitzxer commented on #24
Hi @r0oth3x49 do you have any update? Regards!

[2017-11-23 07:49] r0oth3x49 commented on #24
@Chlitzxer i will update the code at weekend.

[2017-11-23 07:52] r0oth3x49 commented on #23
@welkie most welcome 👍 have fun and if you have any suggestion to improve it more do suggest. as suggestions are always welcome.

[2017-11-23 22:21] Aqsa97 opened #25 "Suntitle file & some files not downloading"
So the script works perfectly fine but for some later lectures it doesn't download the subtitle files. It shows an error that's like "URL ERROR: HTTP Error 403: Forbidden"

I guess it isn't your fault as it downloaded the earlier subs but do you have any idea how can I fix this problem?

Also, I noticed how the script would skip some files from the course. It downloads videos, subs, PDF, zipped &

[2017-11-23 22:28] Aqsa97 commented on #25
I jus encountered another issue. The script won't download the last 20 video files and shows an error " URL ERROR: HTTP Error 401: Forbidden"

This is a paid course which I have purchased. I don't know why this happens..

[2017-11-24 08:09] r0oth3x49 commented on #25
@Aqsa97 thanks for the report.
**URL ERROR: HTTP Error 403: Forbidden for subtitle**
you are facing this error because the subtitles direct download links expires earlier so i would suggest to download the whole course first by using `--skip-sub` if the course is large, this option which will skip the subtitles and download the whole course. and then after downloading course you can then download

[2017-11-24 09:42] Aqsa97 commented on #25
Ohhh I see. Okay I'll try downloading the subtitles the way you mentioned. Thank you! :)

And I'm downloading Web Developer Bootcamp by Colt Steele:
https://www.udemy.com/the-web-developer-bootcamp/

Yes the course is very large but I have tried running the script 4 times now, and each time it stops downloading the last few files. If you could add feature where I could start from middle (any point

[2017-11-24 10:06] r0oth3x49 commented on #25
@Aqsa97 the reason i didn't added feature for start downloading from some user define point is because **udemy-dl** by default resumes from the same point where it left off. about skipping part i will have a look  and add a fix for that ASAP.

[2017-11-24 14:37] #23 closed

[2017-11-24 15:22] Chlitzxer commented on #24
@r0oth3x49 Thanks! Another solution if is easier for you will be replace "á, é, í, ó, ú, ñ" for "a, e, i, o, u, n" at least that would be better than a blank space...

[2017-11-24 20:16] Shadesh opened #27 "AttributeError: 'NoneType' object has no attribute 'group'"
After fetching the newest tarball i run into this error on MacOS with Homebrew. Version before was good, but got in Courses with empty material files (e.g. Empty PowerPoint files) always:

  File "udemy-dl.py", line 858, in <module>
    main()
  File "udemy-dl.py", line 774, in main
    udemy.ExtractAndDownload(path=outto)
  File "udemy-dl.py", line 387, in ExtractAndDownload
    out = self.Downlo

[2017-11-25 07:36] r0oth3x49 commented on #27
@Shadesh thanks for the report. can you please explain a bit more. like which command you have used and which course are you trying to download?i 'm trying to reproduce this error so that i can fix it ASAP. according to error the code might unable to get the login form data.

[2017-11-25 07:57] r0oth3x49 commented on #24
@Chlitzxer this solution looks great. can you please PM me the complete list of Spanish character on FB. so that according to above solution i can translate?

[2017-11-25 09:54] Shadesh commented on #27
@r0oth3x49 Im using this CLI command:
python2 udemy-dl.py -u shade@domain.com -p SecretPW https://www.udemy.com/cisco-ccnp-switch-300-115-the-complete-course/ -d -o /Users/shade/Downloads/

The original error is back now, i updated some Homebrew Python modules and the first error (AttributeError: 'NoneType' object has no attribute 'group') is gone. Now im still running into the problem with 0 Byte

[2017-11-25 13:33] jman69 opened #28 "Support for Udemy for Business"
Any plans to include support for Udemy for Business accounts? Each business has it's own unique URL i.e. https://mybusiness.udemy.com and the login page URLs are slightly different. I'm not a developer but I've tried to modify the code myself with a find & replace but obviously there's more to it than that. I've included the error I got when trying below with the latest version of code (username a

[2017-11-25 13:54] Aqsa97 commented on #25
Thank you for the HTML file update :)

I guess I have to try downloading it again.. btw do you know how long does one session last?
Also, I did check but udemy-dl doesn't resume from where it left off like you said. It always starts from the beginning.

[2017-11-25 17:09] r0oth3x49 commented on #28
@jman69 currently i don't have any account. so this is out of scope & i 'm closing the issue.

[2017-11-25 17:09] #28 closed

[2017-11-25 17:16] r0oth3x49 commented on #27
@Shadesh i will add a handle for this error ASAP.

[2017-11-25 17:59] MrFilippo73 opened #29 "Issue with chapters ending in '?'"
Hi r0oth3x49, congratulations for this work and thank you from Spain.
I have some downloading problem with a particular Udemy course. In this course there is a chapter named: "¿Puedo ponerme en contacto con los profesores?"
The error is the following:
[code]
I think the problem is with the '?' at the end. Because windows don't support this character for a file.

[2017-11-25 18:46] MrFilippo73 commented on #29
Hi, I have the same type of problem with onother chapter's course named: "Introduccion y requisitos." (noted the '.' at the end)
`Traceback (most recent call last):
  File "udemy-dl.py", line 893, in <module>
    main()
  File "udemy-dl.py", line 823, in main
    udemy.ExtractAndDownload(path=outto, quality=res, default=True)
  File "udemy-dl.py", line 391, in ExtractAndDownload
    out = self.Dow

[2017-11-25 21:33] welkie commented on #23
Thanks for the fix. :)

[2017-11-26 01:52] Chlitzxer commented on #24
@r0oth3x49 The best place to check would be `http://www.columbia.edu/~fdc/misc/teclas.html` is not that long :) also I believe somebody opened a ticket for an issue with videos and files containing the symbol "?" in Spanish we also use "¿" to open a question...

The replacement for the letters on the link above would be "a, e, i, o, u, n" if is easier for you we are capable of reading no matter if

[2017-11-26 06:08] raymestalez opened #30 "Skipped. Expected quality not found!"
Hi there! I'm getting an error:

[code]

On different courses. I've tried to add the `-q` flag, but the same error.

Can you help me out?

[2017-11-26 06:12] Chlitzxer commented on #30
@raymestalez you are not using this script you must be sing udemy-dl from python repository,  to fix that install aria2c but again you are using the wrong script...

[2017-11-26 06:13] raymestalez commented on #30
You're right, cloned script from this repo, installed dependencies, and everything works! Awesome! Thank you very much for this excellent project!

[2017-11-26 06:13] #30 closed

[2017-11-26 06:59] Chlitzxer opened #31 "Error while downloading"
After trying to download a course I been getting the following:

[*] : Downloading webpage..
[*] : Extracting course information..
[*] : Downloading 'learn'.
Traceback (most recent call last):
  File "C:\U2\udemy-dl.py", line 894, in <module>
    main()
  File "C:\U2\udemy-dl.py", line 799, in main
    udemy.ExtractAndDownload()
  File "C:\U2\udemy-dl.py", line 281, in ExtractAndDownload
    self.

[2017-11-26 09:36] r0oth3x49 commented on #29
@MrFilippo73 thanks for appreciation and report. i will add a fix for filename name ASAP.

[2017-11-26 09:48] MrFilippo73 commented on #29
Hi r0ooth3x49, the course's links are the following:
https://www.udemy.com/recursos-web-plugins-y-utilidades
https://www.udemy.com/aprende-accesibilidad-web-paso-a-paso

[2017-11-26 09:49] r0oth3x49 commented on #31
@Chlitzxer which course are you downloading i cannot reproduce this error.

[2017-11-26 15:32] r0oth3x49 commented on #24
@Chlitzxer added feature you can check. i am closing the issue now.

[2017-11-26 15:32] #24 closed

[2017-11-26 15:33] r0oth3x49 commented on #29
@MrFilippo73 thanks for using the utility i have added a fix for this.

[2017-11-26 15:33] #29 closed

[2017-11-26 15:33] #31 closed

[2017-11-26 18:03] progamerz opened #32 "Issue"
Course: [https://www.udemy.com/complete-android-developer-course/](url)
Operating System: Windows 7
Ran the .bat as administrator

https://i.imgur.com/e1csUKx.png

[2017-11-26 18:45] r0oth3x49 commented on #32
@progamerz this is not the issue i think th problem is windows don't allow filename length greater then 255 chars.
read here.
`https://stackoverflow.com/questions/265769/maximum-filename-length-in-ntfs-windows-xp-and-windows-vista`

[2017-11-26 19:31] progamerz commented on #32
Ok ill try it now thanks :)

[2017-11-26 19:46] progamerz commented on #32
@r0oth3x49 working well now thanks after using "E:\courses"

[2017-11-26 19:46] #32 closed

[2017-11-26 19:49] B4GP4CK opened #33 "all courses in my account at once ?"
Bro can i download all courses which i bought at once ?? need help

[2017-11-27 06:13] r0oth3x49 commented on #33
@B4GP4CK you cannot download all the courses at once with this script until you create an automation to run the script against a list of courses.
**Windows.**
you can create a batch file which will automate task for you.
**Unix**
either you can use `for` or `while` loop on terminal or create a bash program that automates the download for you..

[2017-11-27 06:15] #33 closed

[2017-11-27 06:16] r0oth3x49 commented on #27
@Shadesh i have updated the code you can check it now.

[2017-11-27 07:34] Shadesh commented on #27
Thanks but the "ZeroDivisionError" error is still there:

[*] : Downloading (041 S7L32-Intro-to-Traditional-STP.pptx)
Traceback (most recent call last):
  File "udemy-dl.py", line 893, in <module>
    main()
  File "udemy-dl.py", line 809, in main
    udemy.ExtractAndDownload(path=outto)
  File "udemy-dl.py", line 391, in ExtractAndDownload
    out = self.Downloader(_url, lecture_name, chapter_pat

[2017-11-28 13:24] wkremser opened #34 "Invalid URL 'view_html': No schema supplied. Perhaps you meant http://view_html?"
When i try to list infos from a specific course i get the following error

Traceback (most recent call last):
  File "./udemy-dl.py", line 892, in <module>
    main()
  File "./udemy-dl.py", line 657, in main
    udemy.ListDown()
  File "./udemy-dl.py", line 258, in ListDown
    sz,in_MB    = self.get_filsize(url)
  File "./udemy-dl.py", line 182, in get_filsize
    req             = get(url, stre

[2017-11-28 17:09] r0oth3x49 commented on #34
@wkremser good catch will fix it ASAP 👍

[2017-11-28 17:57] #34 closed

[2017-11-30 09:30] Marcel-Lambacher opened #35 "Download doesn't work for udemy business"
I've tried to use your tool with udemy for business, but the download doesn't work. This is caused by the hardcoded udemy url in your source code. Also if you want to use udemy business, you've adjust the login scrf regex pattern.

Overall the changes to get your tool working with udemy business is pretty simple.
I would offer myself to develop this feature. Are you interested in this?

[2017-11-30 18:02] r0oth3x49 commented on #35
@Marcel-Lambacher this is out of scope because i don't have any business account for udemy that's why it only works for default udemy.

[2017-11-30 18:11] #35 closed

[2017-11-30 19:35] Shadesh commented on #27
Hi, any new about the ZeroDivisionError error?
Thanks a lot for your work!

[2017-12-01 07:05] r0oth3x49 commented on #27
@Shadesh i cannot reproduce the error so i am adding a temporary fix, let me if that fix works for you ASAP.

[2017-12-01 07:54] Shadesh commented on #27
@r0oth3x49 Thanks for it but unfortunately it doesnt seem to work. The error si gone but it just stops forever where it failed before.

[2017-12-01 11:42] r0oth3x49 commented on #27
@Shadesh sorry for that. i will add another fix ASAP if some how i 'm able to reproduce the error. 'm not registered in the course you are downloading that's why i cannot test against that course.

[2017-12-01 17:20] Shadesh commented on #27
I got it fixed by myself but only with the ugliest hack 2017 (For me at least).
I commented out everything related to the progress bar and calculating the size, now i dont have a progress bar but everything is downloading.

If interested, thats what i did in your _downloader.py file

                chunk = response.read(chunksize)
                outfh.write(chunk)
                elapsed = time.

[2017-12-01 18:29] r0oth3x49 commented on #27
@Shadesh i have another fix for you which is quite good than this. just create file with same name in the directory it will not download that file again if exists this is pretty funny fix but it will work for you.
let say this file `041 S7L32-Intro-to-Traditional-STP.pptx` is disturbing your download you create this file in chapter's directory and udemy wont download it again. if its there.

[2017-12-02 21:28] jman69 commented on #35
@Marcel-Lambacher I would love to see this feature. Would you be willing to fork this project and make the necessary changes even if they don't get merged back into this project? Thanks

[2017-12-04 05:01] coozgan opened #36 "Traceback (Most Recent Call Last)"
Hello, Im having this problem, I am having error like this can you help me?

[code]

[2017-12-04 08:02] Marcel-Lambacher commented on #35
Hello Jman69,

unfortunately I'll not contribute or fork this software anymore. Overall there are some more issues in this software, so I made the decission to write an own version of this udemy downloader. If you're interessted you're welcome to visit my profile. There is a project called "UdemyDownloader". At this moment, the software is far away to be finish. I guess you can use it for download

[2017-12-04 16:47] r0oth3x49 commented on #36
@coozgan details required. what command you are using & all other things?

[2017-12-04 16:59] zdharmawan opened #37 "Cannot Run on MacOSX Sierra using Python 2.7"
Hi there,

I've cloned your repo, then I did `pip install -r requirements.txt`.
But, when actually calling why do I get this:

`Traceback (most recent call last):
  File "udemy-dl.py", line 7, in <module>
    import udemy
  File "/Users/310176470/Workspace/udemy-dl/udemy/__init__.py", line 6, in <module>
    from ._downloader import Downloader
  File "/Users/310176470/Workspace/udemy-dl/udemy/_dow

[2017-12-04 19:54] r0oth3x49 commented on #37
@zdharmawan thanks for the report. did you try to install menually? does the OS has both Python3 and Python2? if yes then try with Python3 or first install python-pip for Python2 then install using that. the error clearly says that some how your default python version don't have that module installed.

[2017-12-05 04:54] coozgan commented on #36
Hey, I used the `python udemy-dl.py https://www.udemy.com/COURSE_NAME`
I use the configuration provided to input my credentials.

[2017-12-05 15:26] #27 closed

[2017-12-05 15:27] r0oth3x49 commented on #36
ok delete the `configuration` file and then try to download

[2017-12-05 16:31] JesusGarrido opened #38 "video quality"
Hi, I can not download the videos.
What do I do wrong?
I do not understand how the argument for video quality should be written.
I have verified that the videos are at 720.
Thank you very much.

[INFO-835] Downloading to: C:\
[INFO-107] Trying to log in ...
[INFO-137] Login success.
[INFO-169] Found course id: 1145678
Getting course data: 0.87% [--------------------] [CRITICAL-238] Skipped. Expect

[2017-12-05 16:36] zdharmawan commented on #37
Hi @r0oth3x49

Thanks for the tips. If I use python3, it's now working fine. So, if you have two installations (python3 and python (2.7)). It seems that the `colorama` package is not detected that it's installed.

Regards,
Zul

[2017-12-05 16:48] zdharmawan opened #39 "MacOSX: Not able to use relative path symbol (~)"
Hi there,

It seems that in MacOSX (Sierra), if I specify the output location (using -o option). When I use tilde to indicate my home directory (for example instead of `/Users/me/download`, I just specify as `~/download`), it will just create that as a directory as tilde (~).

Regards,
Zul

[2017-12-06 02:21] coozgan commented on #36
Hello @r0oth3x49 , I made it work thanks. But was there a way that I can use it with configuration? Thanks by the way.
Also, if you just don't mind. can you tweak a bit of the saved links, as it saves the keyword not the actual link. Thanks. Have a great day!

[2017-12-06 02:21] psarz opened #40 "unable to get course ID "NoneType' object has no attribute 'group'""
Traceback (most recent call last):
  File "udemy-dl.py", line 896, in <module>
    main()
  File "udemy-dl.py", line 569, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 286, in ExtractAndDownload
    videos_dict = self.clean_dict(extract_info.real_extract(self.url, course_name, course_path))
  File "/home/ec2-user/udemy-dl/udemy/_extractor.py", line 221, in real_extract
    cour

[2017-12-06 03:28] coozgan commented on #38
you might want to try take a look at this bro. [Skipped. Expected quality not found! #30](https://github.com/r0oth3x49/udemy-dl/issues/30)

[2017-12-06 06:35] r0oth3x49 commented on #37
@zdharmawan when you run the program against some course using Python2 it will only use libs of Python2 not Python3 and this is the default behavior of any script. & when you install using `pip install -r requirements.txt` it will install libs for the default Python-pip not for both.

so there is no way you can in between of running switch to another python version. i have tested against both but

[2017-12-06 06:35] #37 closed

[2017-12-06 06:40] r0oth3x49 commented on #38
@coozgan thanks for your help. @JesusGarrido you are not using this repo so this error does not belongs to this you must have a look at issue mention by @coozgan. so i am closing the issue

[2017-12-06 06:40] #38 closed

[2017-12-06 07:03] r0oth3x49 commented on #36
@coozgan yes there is the way. initially use `-c` or `--config` command `also mention in **README**` how you can cache your credentials.
 Example:
[code]
OR
[code]
![untitled](https://user-images.githubusercontent.com/11024397/33648537-3d1994e8-da7c-11e7-9e5a-af60b5af3805.png)

this command will create a configuration file for you which then you can edit using any text editor configuration file wi

[2017-12-06 07:05] r0oth3x49 commented on #40
@psarz which course are you trying to download i did tried against this `https://www.udemy.com/learn-ruby-on-rails-from-scratch/` free course it works like charm. so i need a bit explanation.

[2017-12-06 07:08] r0oth3x49 commented on #39
@zdharmawan thanks for using the utility. it is clearly mention in README that you have to provide a full path not relative.

[2017-12-06 08:16] zdharmawan commented on #39
Ok @r0oth3x49. I might be able to submit a pull request, if I have time and if you don't mind.

[2017-12-06 08:22] psarz commented on #40
@r0oth3x49 , I am not even able to download the free course, i.e.https://www.udemy.com/learn-ruby-on-rails-from-scratch/.

File "/home/ec2-user/udemy-dl/udemy/_extractor.py", line 137, in _regex_course_id
course_id = unescapeHTML(_search_simple_regex(r'(?<="id":\s)(\d+)',webpage).group())
AttributeError: 'NoneType' object has no attribute 'group'

as per the stackoverflow link attached below expre

[2017-12-06 08:38] coozgan commented on #36
Here is how your external links work;
it saves links as text and it only prints the keywords like this
[code]
I commented it as not link because its a keyword.

[2017-12-06 14:09] trung674 opened #41 "Parse restricted characters before saving to file"
Hi,

When I download video `043 App - Is It Prime?` in ` Swift 4 Deep Dive` from the course [Complete IOS11 Development Course](complete-ios-11-developer-course/), the script crashed. On Window, the following characters `\ / : * ? " < > |` cannot be used in filename so I guess the character `?` in the video name is the cause.

I wonder if we could parse those characters into ASCII strings (or some

[2017-12-06 15:52] r0oth3x49 commented on #39
@zdharmawan thanks for this report. can you please verify now it is working fine or not

[2017-12-06 16:01] coozgan commented on #16
was this solved? I seem to be having the same problem with mac

[2017-12-06 16:02] r0oth3x49 commented on #40
@psarz how can i reproduce this error? i have checked the code it works perfectly on Windows 8.1/8/7, Mac, Linux. i cannot add the fix until i can reproduce this error. and one more thing i have added two methods to extract the course id if some how it fails with one should extract with other,

[2017-12-06 16:10] r0oth3x49 commented on #36
@coozgan are talking about `external-links.txt` file created by this script or
when you simply use `--save-links` command.
if *external-links.txt*
then it simply writes the content given by udemy in *ExternalLink*  asset. one thing i can add that skipping those external links.

[2017-12-06 16:12] r0oth3x49 commented on #41
@trung674 did you cloned the latest version i wonder why are you facing this error although the script already contain fix for this.

[2017-12-07 07:51] zdharmawan commented on #39
@r0oth3x49 It's working fine if I use absolute path. Thanks. I will close this.

[2017-12-07 07:51] #39 closed

[2017-12-07 11:08] JesusGarrido commented on #38
I'm sorry, I do not understand what happens. I downloaded the repository from this link ...
http://r0oth3x49.herokuapp.com/download-udemy-courses-using-udemy-dl/

[2017-12-08 16:41] #40 closed

[2017-12-08 16:56] psarz commented on #40
Traceback (most recent call last):
  File "udemy-dl.py", line 898, in <module>
    main()
  File "udemy-dl.py", line 688, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 288, in ExtractAndDownload
    videos_dict = self.clean_dict(extract_info.real_extract(self.url, course_name, course_path))
  File "/home/psarz/udemy-dl/udemy/_extractor.py", line 226, in real_extract
    num_lec

[2017-12-08 18:21] #41 closed

[2017-12-08 18:25] r0oth3x49 commented on #36
@coozgan i m closing this issue and i will w8 for more suggestion about changing the way you suggested.

[2017-12-08 18:25] #36 closed

[2017-12-08 19:29] r0oth3x49 commented on #40
@psarz i don't know why you are facing such kind of weird errors. for me it works fine i cannot reproduce so i will w8 for more reports from others no solution for this yet.

[2017-12-10 05:03] r0oth3x49 commented on #16
@coozgan yes it is fixed now i have added a solution into **README** in Requirements section.

[2017-12-10 05:05] r0oth3x49 commented on #38
@JesusGarrido sorry i think i haven't updated the repo direct download link over there lemme update that.

[2017-12-10 05:09] r0oth3x49 commented on #35
@Marcel-Lambacher sorry if you mind my words. @jman69 i have tested the latest `repo` against one of udemy business account and it is working fine now for me & for many friends as well.

[2017-12-10 05:26] r0oth3x49 commented on #25
@Aqsa97 i have tried it always download from the point where it left off.
**POC**
![untitled](https://user-images.githubusercontent.com/11024397/33802241-7e2419de-dd94-11e7-9b5b-795d6e6336c0.png)

[2017-12-10 05:26] #25 closed

[2017-12-10 05:57] r0oth3x49 commented on #20
@selanium which course are you downloading?

[2017-12-10 06:02] r0oth3x49 commented on #15
@KarthickCSK the latest release has the patch for udemy business account i have tested against on of my friends account..

[2017-12-10 08:13] jman69 commented on #35
@r0oth3x49 using the latest repo the error is `You are not enrolled in this course Udemy Says : Resource not found..`. I don't think the repo as is supports the necessary differences in the URLs for Business accounts, and how the login form is different from the generic www.udemy.com one. It needs to support the form and csrf token format on business URLs like https://trial.udemy.com/organization/

[2017-12-10 14:02] r0oth3x49 commented on #35
**@jman69 it means it logs you in successfully or i am wrong?**
Here is what you get when you download a course from udemy business correct me if i am wrong?
![untitled](https://user-images.githubusercontent.com/11024397/33805534-4cb4b5dc-dddc-11e7-96b0-357901f871d2.png)

it means in your account you did not enrolled in this particular course so simply go to the course URL and enroll your self the

[2017-12-10 15:24] jman69 commented on #35
@r0oth3x49 it works when the URL has /learn/v4 at the end of it it. Just the plain URL without that I get the error that I'm not enrolled.

[2017-12-10 15:43] r0oth3x49 commented on #35
@jman69 i just tested the way you said `works when URL has /learn/v4` seems magical :P . i am looking whats going on. but the fact is, it works for you now on your business account am i right?

[2017-12-10 16:43] jman69 commented on #35
@r0oth3x49 yes it works with the /learn/v4 URL on a busienss account nicely. Thanks for keeping working on this! hope you find the issue with the other URL!

[2017-12-10 17:28] r0oth3x49 commented on #35
@jman69 always welcome. enjoy your learning 👍 and thanks for using this utility.

[2017-12-11 12:33] abr4xas opened #42 "Protocol error"
Hello, Im having this problem can you help me?

[code]
I'm using this:

[code]

[2017-12-11 13:00] mabdulkadr opened #43 "course name and chapter name is numbers (in Arabic Language)"
hi r0oth3x49,

 It's a great job, but i have a problem (in Arabic Language )in course name and chapter name it's numbers.
- in English course it's ok.
- when i use youtube-dl it's ok.

https://www.udemy.com/linuxubuntu/learn/v4/content

[*] : Downloading chapter : (1 of 4)
[+] : Chapter (01 16051602158316051577)
[+] : Found ('3') lecture(s).

[*] : Downloading lecture : (1 of 3)
[*] : Downloading

[2017-12-11 15:21] r0oth3x49 commented on #42
@abr4xas thanks for the report. will have a look & fix ASAP.

[2017-12-11 15:22] r0oth3x49 commented on #43
@mabdulkadr thanks for the report. will have a look & fix ASAP

[2017-12-11 19:39] davidonlaptop opened #44 "Connection error"
I indeed have access to the internet...

sudo python udemy-dl.py -u my@email.com -p thepassword https://www.udemy.com/capital-market-immersion -l
[*] : Downloading webpage..
[*] : Extracting course information..
[*] : Downloading 'capital market immersion'.
[*] : Trying to login as (davidonlaptop@gmail.com)...
[-] : Connection error : make sure your internet connection is working.

[2017-12-12 00:10] xxhaithamxx opened #45 "Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'"
i don't know what's wrong i do i installed python and it's work fine and pip work fine just tested with pip install youtube-dl

is there a doc or video thanks

[2017-12-12 03:51] r0oth3x49 commented on #44
@davidonlaptop you should see this [Issue 16:Connection error](https://github.com/r0oth3x49/udemy-dl/issues/16)
if you are on Mac or unix based machine you should upgrade `requests` package for Python2 and also install `requests[security]` to make it work its mention in **README** as well.

[2017-12-12 03:56] r0oth3x49 commented on #45
@xxhaithamxx verify first if there is `requirements.txt` file available inside `udemy-dl` directory. you can also see the [README](https://github.com/r0oth3x49/udemy-dl/blob/master/README.md) doc where usage and installation both are already mention.

[2017-12-12 06:00] davidonlaptop commented on #44
I see... Getting a weird error when installing requests[security] :

Does udemy-dl downloads the course attachments too (pdf, etc.) ?

[2017-12-12 10:36] r0oth3x49 commented on #44
yes it downloads the attachments etc and this error is cause by OS and particular to `requests` you can see if the patch here given works for you.
- [requests issue 3883](https://github.com/requests/requests/issues/3883)
- [requests issue 3189](https://github.com/requests/requests/issues/3189)
 otherwise download the latest Python version and install then try downloading all the libs by using `sud

[2017-12-12 11:39] #43 closed

[2017-12-12 11:39] #45 closed

[2017-12-12 11:43] RealMcFly01 opened #46 "Can't connect to udemy"
[https://i.imgur.com/EEaLhlC.png?1](url)
Cannot get udemy-dl to connect to website to begin downloading course. Says I need user/pass/link but all 3 are typed correct. Can anyone help me figure out what is wrong and how to fix it?

[2017-12-12 11:57] r0oth3x49 commented on #46
@RealMcFly01 link you shared is not working. can you explain a bit more.
what command are you using?

[2017-12-12 12:51] RealMcFly01 commented on #46
Not sure what I did but I was able to get it to work and got the course DL. sorry about the broken link in op, Thank you for writing up this code, you're awesome.

[2017-12-12 12:51] #46 closed

[2017-12-12 14:24] KindlyFire opened #47 "Division by zero"
I have the following error:

[code]

While downloading [this course](https://www.udemy.com/complete-guitar-system-beginner-to-advanced/learn/v4/overview).

[2017-12-12 16:11] r0oth3x49 commented on #47
@KindlyFire thank you for the report. Actually i don't have this particular course in my account so i cannot test against this course that's why i am suggesting you to use `--skip-sub` command to download the whole course and then use the `--sub-only` to download subtitles.

[2017-12-12 17:22] abr4xas commented on #42
@r0oth3x49 nop, i'm using Ubuntu 16.04.3 LTS. With any course.

[2017-12-12 19:50] davidonlaptop commented on #44
sweet!

The patch from the links didn't work but python3 did it:

[code]
Thanks!

[2017-12-12 19:50] #44 closed

[2017-12-13 05:22] r0oth3x49 commented on #42
@abr4xas thanks for explanation & using this script i will test this script on `Ubuntu 16.04.3 LTS` against some free courses will add a fix ASAP.

[2017-12-14 12:48] binaryghost10 opened #48 "FileNotFoundError:[Errno 2] No such file or directory"
Not sure if due to file path length.

![image](https://user-images.githubusercontent.com/34542924/33993103-1e8097e4-e110-11e7-952a-ac04f55d3d53.png)

[2017-12-14 18:00] r0oth3x49 commented on #48
@binaryghost10 thanks for the report but this is duplicate of #32 so i 'm closing the issue solution is already  described.

[2017-12-14 18:00] #48 closed

[2017-12-15 11:55] r0oth3x49 commented on #42
@abr4xas i have downloaded `Ubuntu 16.04.3 LTS 64-bit` and tested against a free course in my account it worked for me i cannot reproduce the error. have a look below.
![picture](https://user-images.githubusercontent.com/11024397/34041139-b4fe5370-e1b8-11e7-85fe-05818bbd3c29.png)

[2017-12-15 12:09] abr4xas commented on #42
It is strange, I had tried with 3 different courses and always the same error...

[2017-12-15 15:25] r0oth3x49 commented on #42
@abr4xas it took two days to download the latest available `ubuntu-16.04.3-desktop-amd64`. did you installed all the requirements? try installing `requests[security]` or try to download using `virtualenv`.
or try with `python3` may be it works for you.  and one more solution try to give all permissions to all files and folders in `udemy-dl`

[2017-12-17 07:35] #47 closed

[2017-12-18 10:53] infotovikas opened #49 "Unable to download paid video on Udemy"
Getting Below error

Traceback (most recent call last):
  File "udemy-dl.py", line 915, in <module>
    main()
  File "udemy-dl.py", line 705, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 411, in ExtractAndDownload
    _is_converted = vtt2srt.convert(lecture_name)
  File "D:\Python\Software\udemy-dl-master\udemy-dl-master\udemy\_utils.py", line 227, in convert
    content

[2017-12-18 15:05] r0oth3x49 commented on #49
@infotovikas thanks for the report. need a bit explanation.
if you don't mind can you share the course URL? which OS you are using in WIN7 or what?

[2017-12-19 05:07] infotovikas commented on #49
@r0oth3x49 yes sure, https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/content and I am using window 10 OS.

[2017-12-19 07:10] SalihKARAHAN opened #50 "What is default resolution?"
Hi @r0oth3x49,

First thanks for the 'udemy-dl' app. I have a wonder, if we don't pass the "-r" arg as "720", what is your app default behaviour? Will the app list the exist resolution and select max or select first? I wonder it because I ran with "-l" videos don't order by resolution.

Thanks.

[2017-12-19 07:22] SalihKARAHAN opened #51 "Turkish character problem"
Hi @r0oth3x49,

I downloaded some Turkish course and I saw video numbers instead of Turkish characters on downloaded videos and texts, I putted some samples to below:

<img width="331" alt="screen shot 2017-12-19 at 10 14 10" src="https://user-images.githubusercontent.com/5853234/34145097-84572b9e-e4a5-11e7-94d6-bb64e149f4fd.png">
<img width="61" alt="screen shot 2017-12-19 at 10 19 07" src="https

[2017-12-19 10:35] r0oth3x49 commented on #50
@SalihKARAHAN default is 720 if its available. i think its already written in a description of `--help` option as well. BTW does it really matters `list down order by resolution`?

[2017-12-19 10:40] r0oth3x49 commented on #51
@SalihKARAHAN i can add support for turkish chars as well but i might need a list of chars of turkish which can be convert into english. see issue [#24](https://github.com/r0oth3x49/udemy-dl/issues/24)

[2017-12-19 22:18] elevenrax opened #52 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 3574: invalid start byte"
In downloading this course:
https://goo.gl/npcfo3

Module 01 - Getting started with docker technologies
Downloads fine.

However, when it goes to start module 02 - Working with docker images.
I get the following error:

[code]

Using MacOS with Python 3.5.

Running:

`pip install -r requirements.txt`

Confirms that all requirements are already satisfied.

[2017-12-20 04:08] coozgan opened #53 "Loading bar Problem"
Hey bro, I have this problem. I dont know what seems to be the problem, I run it for python 2.7, please take a look at this

[code]

[2017-12-20 06:03] r0oth3x49 commented on #52
@elevenrax thanks for the report. i will try to reproduce fix ASAP.

[2017-12-20 06:58] r0oth3x49 commented on #53
@coozgan can you please explain a bit? which course you are trying to download and etc..?

[2017-12-20 08:49] #49 closed

[2017-12-20 08:54] #50 closed

[2017-12-20 08:56] r0oth3x49 commented on #42
@abr4xas one of my friend face the same problem. but according to him that was a human error so i 'm closing this error and will w8 for more similar reports.

[2017-12-20 08:56] #42 closed

[2017-12-20 08:59] r0oth3x49 commented on #49
@infotovikas i have added a fix and tested with `Python 3.6.2` on `Windows 10` and it worked well. try now and let me if you still face the error.

[2017-12-20 09:01] #51 closed

[2017-12-20 10:53] infotovikas commented on #49
Great!! thanks, let me check and validate the same!!

[2017-12-21 01:39] ipkpjersi opened #54 "Skip automatically generated subtiles"
Hello,

I think it would be great if there was a way to skip automatically generated subtitles. This is a super necessary feature IMO and if you could find a way to do that, that would be amazing. I'm hoping that this should be simple enough to do since you already have the code for downloading and skipping subtitles.

Also, while I'm here, what happens if I have the resolution parameter set to 10

[2017-12-21 02:39] ipkpjersi opened #55 "Remove invalid Windows characters"
Hello,

I found another issue with this program. On Ubuntu, it downloads folder names and file names as they are and doesn't check if there are any invalid Windows characters. For an example of characters I am talking about, check this link: https://stackoverflow.com/questions/1976007/what-characters-are-forbidden-in-windows-and-linux-directory-names

Basically, I feel that this program should rep

[2017-12-21 05:45] r0oth3x49 commented on #54
@ipkpjersi thank you for the appreciation and using this program.

it already skips the `automatically generated subtitles`. when you set the resolution param to `1080p` it will try to find that resolution if its not there it will show you a prompt asking that `this quality is not available would you like to download the default one?`. BTW you should set resolution param to `1080` instead `1080p`

[2017-12-21 05:46] #52 closed

[2017-12-21 05:47] ipkpjersi commented on #54
Hello,

In that case, it's a bug. When I downloaded from this course: https://www.udemy.com/webdevelopercourse/learn/v4/ that has automatically generated subs, it still downloaded the subs.

Thank you for the information about resolution, that is good to know.

[2017-12-21 06:08] r0oth3x49 commented on #54
@ipkpjersi thanks i'll have a look and try to fix that as well.  BTW is there any thing annoying about auto gen subs jusy asking, coz people wanna to download subs and you want to skip those caption.

[2017-12-21 06:11] r0oth3x49 commented on #55
@ipkpjersi it already cleans up that for windows have a look at this issue #29.

[2017-12-21 06:13] ipkpjersi commented on #54
Automatically generated subs are often very inaccurate for uncommon programming words/technologies and can be distracting so it would be nice to only have the manually generated subtitles which are known to be correct and skip the automatically generated subtitles.

[2017-12-21 06:14] ipkpjersi commented on #55
It did not work for me, at least for folder names: https://i.imgur.com/WhTjK6U.png

As you can see, it has : in the folder name which as far as I know, is one of the invalid Windows characters.

[2017-12-21 06:18] r0oth3x49 commented on #55
@ipkpjersi can you please clone the latest repo available here on github and try once?
a POC code which checks for windows
![capture](https://user-images.githubusercontent.com/11024397/34243019-998148dc-e640-11e7-9432-366dc777fb5d.PNG)
.

[2017-12-21 06:21] ipkpjersi commented on #55
I have just spotted the issue. You only remove the special Windows characters if the OS is windows, but I want it removed regardless that way if you download videos on Mac or on Linux, you can still use them all just fine on Windows too. I think this would be a great enhancement for this program.

[2017-12-21 06:28] r0oth3x49 commented on #55
@ipkpjersi this is not the issue for the 1st because i am skipping this part for Mac and Linux intentionally  as both of these Operating Systems  don't have a problem with naming convention.  Thanks for suggestion i am taking this suggestion as future enhancement.  for now i think this is not the problem for many users.

[2017-12-21 06:34] #53 closed

[2017-12-21 09:18] #55 closed

[2017-12-21 10:02] ipkpjersi commented on #54
Sorry for the double post but I am thinking that maybe if you are able to make it skip auto generated subs, perhaps you could make it as a flag/argument that way people who want auto generated subs can have them and people who don't can skip them.

[2017-12-21 17:36] binitdemta opened #56 "connection error"
I have been trying to download udemy videos for a while but it gives me an error "Connection error: make sure your internet connection is working" whereas the ping is working fine. By the way i am using a mac os 10.13.2 .

[2017-12-21 18:05] r0oth3x49 commented on #56
@binitdemta thanks for the report i 'm closing this, this is already solved. duplicate of these issues #44, #16

[2017-12-21 18:05] #56 closed

[2017-12-21 18:51] r0oth3x49 commented on #54
@ipkpjersi i just checked the course with `--skip-subs` options it does not download the captions so this is not the bug. either i am not getting your point what do you want to or you are not getting my point.

have i look i don't see any subs on this video although according to you it has auto gen subs.
![capture](https://user-images.githubusercontent.com/11024397/34270277-6db980c0-e6a9-11e7-93d4

[2017-12-21 21:15] ipkpjersi commented on #54
It's not invalid, I showed you my screenshot that has subtitles. Here is proof of the subtitles in-browser: https://i.imgur.com/TbarG0P.jpg

Here is proof that this program is downloading subtitles: https://i.imgur.com/nS9QUer.png

[2017-12-22 02:29] ipkpjersi commented on #54
Sorry for the double post, but I just realized I am not explaining myself well. I want an enhancement to this program that skips ONLY automatically generated subtitles, while still downloading manual subtitles. I am not sure if this is even possible.

[2017-12-22 05:25] r0oth3x49 commented on #54
@ipkpjersi i got your point & tested on ubuntu  latest available version with a simple command, here is a simple way you can skip subs (either it is auto gen or created by author or course). there is no special way available right.
[code]
again i'll say this not the bug this is invalid.

[2017-12-22 05:28] ipkpjersi commented on #54
I'm not quite sure you are getting my point. My point is I would like to skip automatically generated subs whilst downloading manually generated subs without having to specific course-by-course to skip all subs or not, but instead have a "--skip-automatic-sub" that checks if the subs are automatically generated and if so skips them for that course, otherwise it downloads them. Is this not possible

[2017-12-22 08:52] r0oth3x49 commented on #54
@ipkpjersi i got your point and also checked some courses having auto-gen subs but either of these courses have auto gen subs or custom created subs i cannot find both in a single course. find me a course which has both `auto gen subs` & `author's created subs` so i can test the utility properly otherwise i will consider this option as future update.

[2017-12-22 08:54] ipkpjersi commented on #54
Hello,

Yeah it's not possible for a course to have both automatically generated and manually created subs since automatically generated subs are only created if an author has not manually created subs.

Thanks.

[2017-12-22 09:21] r0oth3x49 commented on #54
@ipkpjersi always welcome and thanks for using this utility. now i assume you are clear about subtitles and also you are satisfied with the available options for skipping/downloading subs as you said `it is not possible for a course to have both auto subs & custom one as well`.

- ***Skip captions***
[code]
- ***Download captions only***
[code]

if you still have any suggestions do suggest i will

[2017-12-22 09:24] ipkpjersi commented on #54
Yeah I would still like the ability to automatically skip only automatically generated subs while still downloading manually created subs (without having to check on a course-by-course basis, but having this program check automatically). I think that would be a good future enhancement.

[2017-12-22 09:38] r0oth3x49 commented on #54
@ipkpjersi okay i 'm considering this as future enhancement and also will wait for other to suggest the same. now i 'm closing this issue as future enhancement. BTW this is nothing but just another check on subs.

[2017-12-22 09:42] #54 closed

[2017-12-22 14:39] Asderdd opened #57 "Tool couldn't download videos which has non-ascii characters in file names"
[*] : Downloaded course information webpages successfully..
[*] : Trying to logout now...
[+] : Logged out successfully.
[*] : Counting no of chapters..
[+] : Found ('18') chapter(s).

[*] : Downloading chapter : (1 of 18)
[+] : Chapter (01 Kursa Giri351)
[+] : Found ('4') lecture(s).

[*] : Downloading lecture : (1 of 4)
[*] : Downloading (001 Kursun Genel Tan305t305m305)
Traceback (most recent c

[2017-12-22 15:27] r0oth3x49 commented on #57
@Asderdd need explanation.

[2017-12-23 01:47] wecarrasco opened #58 "ASCII Problem"
I was downloading this course: https://www.udemy.com/the-complete-react-native-and-redux-course/ and for some reason it gives a error when trying to download lecture 33 from the 7th Section.

Here is the error:

`Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 856, in main
    udemy.ExtractAndDownload(path=outto, quality=res)
  F

[2017-12-23 06:43] r0oth3x49 commented on #58
@wecarrasco thanks for the report will fix this ASAP.

[2017-12-23 07:20] #58 closed

[2017-12-24 01:42] SalihKARAHAN commented on #57
this issue related with #51 and you should not close issues without producing a solution ⚠️

[2017-12-24 05:50] r0oth3x49 commented on #57
@SalihKARAHAN i don't think so this is related, you can see the error in downloading and i already have escaped those numbers in a name. so i 'm closing this

[2017-12-24 05:50] #57 closed

[2017-12-27 06:57] YaNgO15 commented on #2
Excuse me, what is the command to download the subtitles in Spanish ?, I can only download in English :(, I am Latin American :/

[2017-12-27 09:53] godomainz opened #60 "UnicodeEncodeError: 'charmap' codec can't encode character"
it seems there are issues with subtitle downloads. some gets downloaded some doesn`t.
Tried to download subs from this
python udemy-dl.py -u mymail@gmail.com -p mypassword https://www.udemy.com/scrapy-tutorial-web-scraping-with-python/ --sub-only

 Logged in successfully.
[*] : Downloading course information webpages ..
[*] : Found (73) lectures ...
[*] : Extracting (73/73) |======================

[2017-12-27 18:14] r0oth3x49 commented on #60
@godomainz thanks for using this utility. I will check & fix ASAP.

[2017-12-28 03:13] jnicol commented on #16
In my case I ran into the "make sure your internet connection is working" error on OS X Sierra when using OS X's python2 version, even after installing the required dependencies. Instead, I installed python via Homebrew (brew install python) per http://docs.python-guide.org/en/latest/starting/install/osx/, and after that I had no problems using udemy-dl.

[2017-12-28 04:07] elevenrax commented on #52
Many thanks :)

[2017-12-28 10:11] #60 closed

[2017-12-28 19:13] jrdnbrn opened #61 "Error when trying to download course"
I get this error when trying to download a course

[code]

The command I use is as follows, I removed my credentials for obvious reasons.

`python udemy-dl.py -u EMAIL/USERNAME -p PASSWORD https://www.udemy.com/the-complete-nodejs-developer-course-2/learn/v4/overview -r 720 -o "C:\Users\Jordan Baron\Desktop\NodeJS Udemy Course\"`

[2017-12-28 20:12] r0oth3x49 commented on #61
@jrdnbrn don't use `\` at end of path where you want to save your course. and one more thing i would suggest not to use spaces in directory name.

try this command.
[code]
OR

[code]

[2017-12-28 21:38] jrdnbrn commented on #61
Apparently I'm 'not enrolled' which is false...

[2017-12-29 08:50] #61 closed

[2017-12-29 15:50] Drovosek01 opened #62 "Traceback error"
I was on the loading rate. I changed my Wi-Fi network, and then returned to the previous Wi-Fi network. The downloading of the course was interrupted. I restarted the command prompt and re-entered the command the download and got the error. Then I tried to download other courses and received the same error.

`Traceback (most recent call last):
  File "udemy-dl.py", line 7, in <module>
    import u

[2017-12-29 16:43] r0oth3x49 commented on #62
@Drovosek01 looks weird how can i reproduce this error. there is no fix for this kind of error but a simple suggestion. Which is : download udemy-dl again, place to some where choice of your directory and then try to download the course again.

[2017-12-30 00:03] ipkpjersi opened #63 "Course not found"
Hello,

Some of my courses (I THINK I used to be able to previously download them) are not downloadable now. I am not sure why. Here is an example of the error: https://i.imgur.com/eBQVH2P.png

I would appreciate if you could give me some tips on how to possibly debug this better.

I have verified the course still exists and I can still access the contents in my web browser.

Thanks.

[2017-12-30 05:56] r0oth3x49 commented on #63
@ipkpjersi this is not the error of script but the server, This is actually a handle to error i also face the same problem many times with my courses.

this is an additional check on course request if some how server don't respond with course information then it shows this error one thing i can do is to change the error message for better understanding.

[2017-12-30 10:52] skarpetauuuu commented on #63
Is there any way to download not enrolled courses @r0oth3x49 ?

[2017-12-30 11:32] ipkpjersi commented on #63
So there's nothing that can be done about the error? I find it very odd that this only happens sometimes, other times the course seems to download fine? I guess it's not a huge deal.

[2017-12-30 11:44] Drovosek01 commented on #62
Sorry, bro, that's my fault. I accidentally deleted the udemy folder that was near the udemy-dl.py file. Thank you for your work, happy new year!

[2017-12-30 13:37] r0oth3x49 commented on #62
@Drovosek01 thanks for appreciation & Happy new year.

[2017-12-30 13:37] #62 closed

[2017-12-30 13:38] r0oth3x49 commented on #63
@skarpetauuuu i don't think so you have to enroll first to download the course either it is paid or free.

[2017-12-30 13:44] r0oth3x49 commented on #63
@ipkpjersi yes currently there's no solution as i said this is not the Bug but the server response which the script show you nicely and you can also see in the above comment that happens with me as well. so currently the simple solution to this error is to use a complete course URL with `/learn/v4/*` and try again if the error occurs.

[2017-12-31 14:37] r0oth3x49 commented on #63
@ipkpjersi i am closing this issue as this is not an issue with the script but a simple server response.

[2017-12-31 14:37] #63 closed

[2018-01-01 16:22] rohitgehe05 opened #64 "Download/Progress percentage inverted"
<img width="1085" alt="screen shot 2018-01-01 at 9 50 00 pm" src="https://user-images.githubusercontent.com/18504667/34469119-f1296bfe-ef3d-11e7-9103-3b9a67dcfd22.png">

Hi, not sure if this is intentional, but makes for bad UX. Just thought I'd share, should be an easy fix to switch the placeholders, I guess (will look at the code too if time permits and try to submit a PR)

Cheers.

[2018-01-01 17:59] #64 closed

[2018-01-01 22:00] Taubin opened #65 "ModuleNotFoundError: No module named 'udemy.colorized.banner'"
When attempting to run the following
[code]

I recieve the following error:

Traceback (most recent call last):
[code]
I've verified Colorama and Requests has been installed

[code]

This is on  Win10 as well as Ubuntu

I've verified colorama and packages are both installed

[2018-01-01 22:08] Taubin commented on #65
Edit: I was attempting to run this is PS instead of cmd, running it in cmd instead worked just fine, sorry about that.

[2018-01-01 22:08] #65 closed

[2018-01-02 09:15] vinhloc1996 opened #66 "Download multiple course in once command feature?"
Hi, I'm just using this tool recently. It's a useful tool, but I'm confusing that is there any way to download multiple courses with one command? Something like put all course url to one text file and input the path of the text file instead of the url course.

[2018-01-02 12:49] r0oth3x49 commented on #66
@vinhloc1996 currently there is no way but may be in future if i get more requests to add this feature.
the other solution is.
you can create a batch file in windows/bash file in unix based systems to automate your stuff.

[2018-01-02 22:14] alfari16 opened #67 "Download from specific chapter"
Hi i've been using this amazing tool.. but is there any way to download the course from spesific chapter?

[2018-01-03 05:40] r0oth3x49 commented on #67
@alfari16 currently there is no way to download from specific chapter. i will add this feature in next update. so i 'm considering this as future enhancement & will close the issue.

[2018-01-03 05:40] #67 closed

[2018-01-03 05:47] #66 closed

[2018-01-06 00:57] aerobo1 opened #68 "Skipped expected quality not found."
Don't know what to say, I have looked and cloned the package and installed dependencies as to which it still doesn't work after installing aria2. Good grief this is frustrating. Trying to download courrses. Any help? Thanks

[2018-01-06 03:59] r0oth3x49 commented on #68
@aerobo1 you might want to try take a look at this bro. [Skipped. Expected quality not found! #30](https://github.com/r0oth3x49/udemy-dl/issues/30)

[2018-01-06 03:59] #68 closed

[2018-01-06 06:37] aerobo1 commented on #68
I have already looked at that before making this post and that solution does not work, I have already downloaded the correct version and installed aria with the same result. I am not able to download anything whatsoever because of this.

[2018-01-06 06:38] aerobo1 commented on #68
I have already looked at that before making this post and that solution does not work, I have already downloaded the correct version and installed aria with the same result. I am not able to download anything whatsoever because of this.

[2018-01-06 06:38] aerobo1 commented on #68
@r0oth3x49 I have already looked at that before making this post and that solution does not work, I have already downloaded the correct version and installed aria with the same result. I am not able to download anything whatsoever because of this.

[2018-01-06 17:37] r0oth3x49 commented on #68
@aerobo1 this utility is not depended on any kind of aria so there is no way to solve your problem and this issue does not belongs to this utility. a simple suggestion is to uninstall udemy or remove udemy entirely  and then clone from this repository again and download.

[2018-01-08 20:52] yinyifu opened #70 "When open file permission is denied, an exception occurs, but the terminal font stays light green."
I think the font color should be revert to default.

[2018-01-09 01:30] sfdye opened #71 "PyPi package?"
This is such a nice tool, any plans to make it available as a simple module to pip install or brew install?

[2018-01-09 07:08] mabdulkadr opened #72 "Can not complete download file"
can not complete downloads file like this and when i try to re-download he sow files as already downloaded

[*] : Downloading lecture : (10 of 39)
[*] : Downloading (004 What Does ITIL Provide_)
[*] : 34.88MB/3.36MB  9.63% |####------------------------------------| 22.16kB/s  24:16s ETA
[+] : Downloaded  (004 What Does ITIL Provide_)

[2018-01-09 19:05] yashsati29 commented on #2
@r0oth3x49 Actually i downloaded half of my lectures from other software and now that software is blocked here so could you please tell me can i download my course from where i stopped my downloading..? REPLY ASAP :D

[2018-01-10 05:22] aerobo1 commented on #68
@r0oth3x49 Ok, I will give it a shot. Thank you for your time and contribution to the github community.

[2018-01-10 14:54] r0oth3x49 commented on #72
@mabdulkadr how can i reproduce this error?

[2018-01-10 14:56] r0oth3x49 commented on #70
@yinyifu will have a look BTW does it really matters?

[2018-01-10 14:57] r0oth3x49 commented on #71
thank you so much for appreciation. yes i am thinking to add this on python repository as well.

[2018-01-11 13:30] sfdye commented on #71
That’s great, looking forward to that!

[2018-01-11 13:30] #71 closed

[2018-01-12 11:10] takasurazeem opened #73 "How to do download specific video?"
I downloaded a course but one video seems to be corrupt, how do I only download that specific video?

[2018-01-12 12:32] r0oth3x49 commented on #73
@takasurazeem currently there is no option to download a specific video. you can delete that particular video and the download that course again it will resume from that video.

[2018-01-12 22:02] yashsati29 opened #74 "Downloading Lectures from halfway"
@r0oth3x49 Actually i downloaded half of my lectures from other software and now that software is blocked here so could you please tell me can i download my course from where i stopped my downloading..? REPLY ASAP 👍

P.S. by downloading i meant, can the software download lectures from the course from where i want to download..?

[2018-01-13 16:59] r0oth3x49 commented on #74
@yashsati29 no currently there is no option to download from the user define point. i will add this in new release ASAP.

[2018-01-13 16:59] #74 closed

[2018-01-13 16:59] #73 closed

[2018-01-13 17:01] #72 closed

[2018-01-13 17:02] #70 closed

[2018-01-15 23:40] aerobo1 opened #75 "General question"
How can you run this on a windows machine? I can't find any instruction on how to.

[2018-01-16 05:53] r0oth3x49 commented on #75
@aerobo1 all the commands mention in `README` file is same for each platform. here it is ( [Usage](https://github.com/r0oth3x49/udemy-dl#usage) ) if can't find it in README.

[2018-01-16 08:46] coder797 opened #76 "cannot get the files"
Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 829, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 409, in ExtractAndDownload
    msg = self.Downloader(_url, lecture_name, chapter_path)
  File "udemy-dl.py", line 89, in Downloader
    out = course_dl.download(url, title, filepath=path, quiet=True, callback=sel

[2018-01-16 11:21] r0oth3x49 commented on #76
@coder797 see issue [#32](https://github.com/r0oth3x49/udemy-dl/issues/32)

[2018-01-16 11:21] #76 closed

[2018-01-17 04:09] Drovosek01 commented on #75
@aerobo1, if you can understantd russian text, you can look my tutorial about this application: https://www.youtube.com/watch?v=stiCY8UqZD8

[2018-01-17 04:34] Drovosek01 opened #77 "How get list enrolled courses?"
Hi.
Is there a way to get the list of courses (which I signed) from my udemy account?

[2018-01-17 06:26] r0oth3x49 commented on #77
@Drovosek01 currently this utility don't have this feature but may be in future updates i will add. BTW i don't find it useful as this might be a bunch of requests to udemy which is not good.

[2018-01-17 11:20] Drovosek01 commented on #77
@r0oth3x49, And the udemy app on Android also sends a lot of requests to the site when smartphone open the "My courses"?
By the way, they seem to have a function in the API to get a list of all courses account.
https://www.udemy.com/developers/methods/get-courses-list/

[2018-01-17 13:54] r0oth3x49 commented on #77
@Drovosek01 yes i already checked this, it is good when you have less than 100 courses in your account if you have more, then the requests will increase. i will wait for more requests on this feature.

[2018-01-17 14:59] Gh02t opened #78 "download problem on Apple Bash"
I have some problem with download my courses content, the error code is [CRITICAL-238] Skipped. Expected quality not found!

Can someone have had the same problem?
I already try to download in low quality(via Shell) bun the same problem happen

Tnk
![bashscreen](https://user-images.githubusercontent.com/30687712/35049254-aa372e3e-fb9f-11e7-8030-594070f31216.jpg)

[2018-01-17 17:00] r0oth3x49 commented on #78
@Gh02t see issue [#68](https://github.com/r0oth3x49/udemy-dl/issues/68)

[2018-01-17 17:00] #78 closed

[2018-01-17 17:01] #75 closed

[2018-01-18 03:03] aerobo1 commented on #75
Spacebo brata

On Jan 16, 2018 11:09 PM, "Drovosek01" <notifications@github.com> wrote:

[2018-01-18 14:05] bala93kumar commented on #23
could some please guide me on how to try the same procedure on windows 10 ????

[2018-01-18 14:25] bala93kumar opened #79 "issue in downloading udemy courses using node.js"
i tried the below command to download udemy courses using node.js on windows 10  and i am  face facing the error as mentioned below please assist

udl -u xxxxxx  -p xxxxxxxx   https://www.udemy.com/the-docker-for-devops-course-from-development-to-production/learn/v4/content -o "E:\Udemy\The Docker for DevOps course From development to production"

              _

[2018-01-18 15:29] #77 closed

[2018-01-18 15:29] #79 closed

[2018-01-18 17:14] dvisan opened #80 "New rule aiming at file renaming in certain conditions"
I encountered the following issue while grabbing a course:

[code]

After searching for _'IOError: [Errno 22] invalid mode ('wb') or filename: '_ I stumbled upon this:
https://stackoverflow.com/questions/22620965/ioerror-errno-22-invalid-mode-wb-or-filename

And learnt that `:` cannot be used for naming files in windows, alongside `<, >, ", /, \, |, ?, *` because these characters are system reserv

[2018-01-18 17:47] r0oth3x49 commented on #80
@dvisan good catch will fix it ASAP thanks for the report.

[2018-01-19 09:31] bala93kumar commented on #79
if you don't know how to answer my question , mention that you don't know , do not close the issue

[2018-01-19 11:47] UMUTBAYGUT commented on #80
I think it is same error with me.
Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 829, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 409, in ExtractAndDownload
    msg = self.Downloader(_url, lecture_name, chapter_path)
  File "udemy-dl.py", line 89, in Downloader
    out = course_dl.download(url, title, filep

[2018-01-19 16:02] dvisan commented on #80
@UMUTBAYGUT yes it is. You course has a `|` in its name. As I see in the path, you're using WSL in Windows too, in a mounted folder - so it's exactly my issue.

[2018-01-20 06:30] r0oth3x49 commented on #79
@bala93kumar you should have a look first before reporting an issue on a `repo` whether it is related or not.

[2018-01-21 01:14] Wayne-Mather opened #81 "Username, Password and course url is required [Python2 Issue - Workaround Found (use v3)]"
**Update**

I installed python3 and pip3 for fedora server 27 and the issue no longer exists. There must be something in the python2 runtime that causes the script to throw the error.

I keep getting this error now: Username, Password and course url is required

Command is: python ./udemy-dl/udemy-dl.py -u user@here -p some_password https://www.udemy.com/somewhere

This is Fedora Server 27. Anythi

[2018-01-21 05:50] r0oth3x49 commented on #81
@Wayne-Mather did you used the most recent `udemy-dl` or the old cloned one, because the error that you are  facing existed due to my mistake because i was not checking properly for arguments.
have a look a issue [#46](https://github.com/r0oth3x49/udemy-dl/issues/46). did you faced the same? if yes please clone the most recent one & try, if still the error occurs i will check & try to fix it ASAP.

[2018-01-21 09:01] Wayne-Mather commented on #81
@r0oth3x49 It was the latest cloned branch. I don't think it was your code because python3 executes correctly, but running against python2 failed..

By default Fedora Server 27 ships with python 2. I then found it has python 3 so I just installed that:

dnf install python3 python3-pip
pip3 install -r requirements.txt
python3 udemy-dl....

And it just worked as expected.

[2018-01-21 09:26] r0oth3x49 commented on #81
@Wayne-Mather glade to know that this works for you fine with py3.  I will download the `fedora Server 27` & try to reproduce the error with py2 against some free courses.

[2018-01-22 13:44] humor4fun opened #82 "Terminal Color is not reset upon exit"
When the program exits, it fails to reset the terminal output color back to a NO_COLOR state.

[2018-01-22 13:47] humor4fun opened #83 "Fails to log in with complex password"
Passwords containing characters such as * ^ ! (other are likely, but I tested these) cause an execution error. When supplied via execution argument -p, the program will throw a bash error. When quoted in the -p argument and escaped, the udemy-dl banner is printed and then execution halts. If the password is cached in the configuration file, execution will fail after attempting to login.

[2018-01-22 13:59] rsa2418 opened #84 "Download gets stuck in between downlaoding"
Downloading stucks in between every time i download course. Please check everything else works(internet) but downloading gets stuck. Is there any work around to again get started.

PS:
I have found a work around if download gets stuck in between.(But before doing this work around please be sure check during downloading which file it got stuck. Delete that file dont worry it will get downloaded aft

[2018-01-22 16:18] r0oth3x49 commented on #84
@rsa2418 how can i reproduce this error,  if i can't, i will not be able to add a fix. BTW never faced this problem.

[2018-01-22 16:20] r0oth3x49 commented on #82
@humor4fun colors are not the primary issue for this utility so i 'm closing this issue. will add fix in next version

[2018-01-22 16:20] #82 closed

[2018-01-22 16:42] r0oth3x49 commented on #83
@humor4fun more details required such as platform etc? i can't reproduce this error.
check the below POC of complex password containing almost all special chars.
![capture](https://user-images.githubusercontent.com/11024397/35232300-edf308f2-ffbc-11e7-9e5f-479cff055d52.PNG)
BTW if you have your own account you can change your password to the simplest one as well.

[2018-01-22 17:20] rsa2418 commented on #84
i have figured out a way for this issue

On Mon, Jan 22, 2018 at 9:48 PM, Nasir Khan <notifications@github.com>
wrote:

[2018-01-22 22:03] Wayne-Mather commented on #81
@r0oth3x49 I am actually a programmer for a living, just never got around to learning python (or ruby, or Go, or any of the other million languages that exist that I don't use daily - I am a .NET developer that came from a C/C++ background.

Will try to understand more how to actually debug a python application so I can either supply a PR or more information.

[2018-01-22 22:08] Wayne-Mather commented on #84
@rsa2418 This sounds more like an OS/Hardware issue. Can you supply details about:

Operating System & Version?
Hardware information about where the files are being saved?

I must note that some courses use filenames that go beyond the NTFS limit if you are on a Windows platform and downloads can fail or have issues when the underlying filesystem does not like that filename or directory hierarchy.

[2018-01-22 22:11] Wayne-Mather commented on #80
@UMUTBAYGUT @dvisan Please note that while the special chars fix will solve one problem, some courses do use filenames that violate the NTFS standards. I had issues running under WSL so I have moved to a Linux Platform to do the downloads.

Then I use mkisofs -udf .... to make a UDF compliant image that can be mounted in Windows to watch videos as needed.

[2018-01-24 07:14] takasurazeem commented on #73
I did that, thanks.

[2018-01-25 06:42] itsroby commented on #81
@Wayne-Mather @r0oth3x49  Not working for me, I used Ubuntu 16.04 and Python 3.5.1.

![udemy-dl-2](https://user-images.githubusercontent.com/31939641/35374429-68bf5378-01d5-11e8-8534-6568e6a874cb.png)

![udemy-dl](https://user-images.githubusercontent.com/31939641/35374434-70cbe176-01d5-11e8-91a2-44c421226e96.png)

Do you have other solution?
Thanks

[2018-01-25 07:52] itsroby commented on #81
Do you mean like this?

![udemy-dl-3](https://user-images.githubusercontent.com/31939641/35376819-4d0f9f70-01df-11e8-91ed-6814677b5170.png)

What should I do?

[2018-01-25 09:00] Wayne-Mather commented on #81
Just installing 16.04.3 desktop now to understand. However, I am not a python programmer at this time :)

[2018-01-25 10:36] itsroby commented on #81
@Wayne-Mather no problem mate, thank you very much 👍
But if someday you found the solution, please share.

[2018-01-25 13:08] r0oth3x49 commented on #81
@itsroby  i have downloaded `Ubuntu 16.04.3 LTS 64-bit` and tested against a free course in my account it worked for me i cannot reproduce the error. have a look below.
![picture](https://user-images.githubusercontent.com/11024397/34041139-b4fe5370-e1b8-11e7-85fe-05818bbd3c29.png)

[2018-01-25 16:52] dnova08 opened #85 "Prints a new progress bar in new line when downloading the same file."
![progress](https://user-images.githubusercontent.com/20338353/35400874-0b1158aa-0209-11e8-9fe3-2432b08fb760.PNG)

[2018-01-25 16:56] r0oth3x49 commented on #85
@dnova08 not an issue with core so i 'm closing the issue.

[2018-01-25 16:56] #85 closed

[2018-01-25 16:57] #84 closed

[2018-01-25 16:58] #83 closed

[2018-01-25 17:14] r0oth3x49 commented on #81
@Wayne-Mather   i have downloaded `Fedora Server 27 64-bit` and tested against a free course in my account with default py2 & it worked fine. have a look below.
![capture](https://user-images.githubusercontent.com/11024397/35401979-f58fa658-021c-11e8-8851-a283df8677b1.PNG)

[2018-01-25 17:19] #81 closed

[2018-01-25 21:09] Wayne-Mather commented on #81
@r0oth3x49 What is the course you use? Over this weekend (I am in Australia, so public holiday today [26 Jan]) I am going to setup several VM's and try to understand what the cause is.

@itsroby Will paste a comment here if I get it working

[2018-01-25 21:46] Wayne-Mather commented on #81
@r0oth3x49 Can we modify line 929 and tell the user they have an exception and save the exception details somehow? I think this is what our problem is and that the printed error message makes you think the options are invalid, when it maybe an array boundary issue somewhere.

@itsroby using vanilla install of Ubuntu 16.0.4.3LTS desktop version of ubuntu with only sudo apt-get install git.

Python

[2018-01-26 15:31] r0oth3x49 commented on #81
@Wayne-Mather course url is -> `https://www.udemy.com/learn-ruby-on-rails-from-scratch/` & about line 929 i will take a look.

[2018-01-26 18:47] Drovosek01 opened #86 ""You are not enrolled in this course...""
![image](https://user-images.githubusercontent.com/29478700/35455262-4a9c88ee-02e2-11e8-87c1-67cce1ee6e82.png)
Often appear the error message, as if I am not enrolled in the course, but I signed up for the course. You have to repeatedly activate the same command line. To download starts with or 3 times. This does not always happen.

[2018-01-27 06:36] r0oth3x49 commented on #86
@Drovosek01 you should clone the recent version and also have a look at issue [#63](https://github.com/r0oth3x49/udemy-dl/issues/63).

i m closing this with duplicate as i have already discussed this in above issue.

[2018-01-27 06:36] #86 closed

[2018-01-29 19:46] #80 closed

[2018-01-30 09:56] smakarov opened #87 "No module named '_sanitize'"
Win 10
python udemy-dl.py
Traceback (most recent call last):
  File "udemy-dl.py", line 7, in <module>
    import udemy
  File "C:\udemy-dl\udemy\__init__.py", line 7, in <module>
    from        ._extractor     import UdemyInfoExtractor
  File "C:\udemy-dl\udemy\_extractor.py", line 33, in <module>
    from _sanitize  import  slugify
ModuleNotFoundError: No module named '_sanitize'

[2018-01-30 14:31] #87 closed

[2018-01-31 03:34] itsroby commented on #81
@Wayne-Mather @r0oth3x49 My bad, typo mistake on my email address.
Thank you for your support :+1:

[2018-01-31 05:00] itsroby opened #88 "No module named unidecode"
I found error when trial on my server, server configuration as bellow :

![udemy-dl-7](https://user-images.githubusercontent.com/31939641/35605697-09a3dde4-067d-11e8-8786-6e54bcf6ce3d.png)

Error message "No module named unidecode"

![udemy-dl-4](https://user-images.githubusercontent.com/31939641/35605667-cef5ee94-067c-11e8-945a-bdc1a2172194.png)

To solve this problem we have to install the unide

[2018-01-31 16:20] r0oth3x49 commented on #88
@itsroby updated `requirements.txt`

[2018-01-31 16:20] #88 closed

[2018-01-31 16:24] rodmontgt opened #90 "Is there a way to download specific lectures?"
Sorry this is not an issue, maybe a feature request

[2018-01-31 17:10] r0oth3x49 commented on #90
@rodmontgt yes and this is considered for next release already you can see issue [#67](https://github.com/r0oth3x49/udemy-dl/issues/67)

[2018-01-31 17:10] #90 closed

[2018-02-04 16:46] IsraelGboluwaga opened #91 "ImportError Thrown When trying to download"
[code]

[2018-02-05 04:30] avadnc opened #93 "FileNotFoundError: [Errno 2] No such file or directory:"
PS G:\udemy-dl-master> python .\udemy-dl.py -u in*******@gmail.com -p ********** https://www.udemy.com/creando-restful-services-php-mysql -r 720

              __                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __/ / / / / / /_/ /_____/ /_/ / /
 \__,_/\__,_/\___/_/ /_/ /_/\__, /      \__,_/_/

[2018-02-05 08:53] r0oth3x49 commented on #91
@IsraelGboluwaga you should install the requirements first.

[2018-02-05 08:53] #91 closed

[2018-02-05 09:04] r0oth3x49 commented on #93
@avadnc have a look at  issue [#32](https://github.com/r0oth3x49/udemy-dl/issues/32)

[2018-02-05 09:18] IsraelGboluwaga commented on #91
It's worked. Thanks.

If I may ask, what caused the sudden loss of requirements because I used to download stuff without issues before?

[2018-02-05 18:59] r0oth3x49 commented on #91
@IsraelGboluwaga  what can i say about python installation in your PC.

[2018-02-05 18:59] #93 closed

[2018-02-05 23:52] adfenor opened #94 "variable resolution and output, not working"
Hi, it does not work when I insert the resolution or output variable.
It only works if I put my username and password. But the above does not. what's going on?

Inside configuration Nº 1 [Not working]

	{
		"username" 		: "myuser@gmail.com",
		"password" 		: "p4ssw0rd",
		"output" 		: "path/to/directory/",
		"resolution" 		: "1080"
	}

Output on terminal:
[code]
Inside configuration Nº 2 [Working]

[2018-02-06 06:51] r0oth3x49 commented on #94
@adfenor thanks for your report i will try to reproduce & fix it ASAP. thanks for using this utility

[2018-02-06 08:22] IsraelGboluwaga commented on #91
I've been using it before. And I use a mac, which means python is pre-installed on my system. I was wondering why it stopped all of a sudden.

[2018-02-06 16:50] #94 closed

[2018-02-09 15:55] frediustcDev opened #95 "Download from a certain point"
Will it be possible to start the download from a certain chapter or lesson

[2018-02-10 03:23] r0oth3x49 commented on #95
@frediustcDev yes it will be but not right now as i get free i will be working on these updates. this is already suggested by other users. have a look at issue #67 . i 'm closing this issue as duplicate.

[2018-02-10 03:23] #95 closed

[2018-02-10 11:45] RuthlessRuler opened #96 "Aria2c cant download."
I tried downloading the course from the saved links with captions using Arai2c but it wasn't able to download.
If possible please tell me which downloader supports this type of files.

Also, would it possible to directly save all of these files in google drive in proper folder manner.(cause i get higher down speed bcoz of peering through which i am able to download at 900 kbps and only 125 kbps no

[2018-02-10 19:49] RuthlessRuler opened #97 "Downt Downloads the Content Sometimes"
Sometimes it give sthe error: Udemy Says : Resource not found. either you are not enrolled in course or server didn't respond with course information webpages. but after trying again with same command it starts downloading. (In this 3rd time).  FYI- i have changed my id, password and username

C:\Users\USERANME\Downloads\udemy-dl-master>python udemy-dl.py -u EMAIL@mail.com -p password https://www.

[2018-02-10 20:11] r0oth3x49 commented on #91
@IsraelGboluwaga the above error simply shows that you don't have colorama installed so that can be the reason.

[2018-02-10 20:13] r0oth3x49 commented on #97
@RuthlessRuler this is not the problem but a simple handle to to server response. see issue #63 , i already have discussed this in details there so i 'm closing the issue.

[2018-02-10 20:13] #97 closed

[2018-02-11 22:32] thesalah1212 opened #98 "bug when trying to download"
Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 879, in main
    udemy.ExtractAndDownload(quality=res)
  File "udemy-dl.py", line 291, in ExtractAndDownload
    self.login()
  File "udemy-dl.py", line 40, in login
    extract_info.login(self.username, self.password)
  File "/home/thesalah1212/udemy-dl-master/udemy/_extractor.py",

[2018-02-12 02:14] ejose19 commented on #98
I'm also getting this, upon inspecting the source code I found udemy is detecting this tool as automation, any way to hide this?

[2018-02-12 05:50] YaNgO15 commented on #98
Ami also I get that error, and I started thinking that maybe we should update the python ?, I would like you to answer r0oth3x49

[2018-02-12 06:18] coder797 commented on #98
yup same here .. time to update the tool

[2018-02-12 07:36] YaNgO15 opened #99 "error when wanting to download"
error when wanting to download, my account has the correct password and gmail

Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 831, in main
    udemy.ExtractAndDownload(caption_only=True)
  File "udemy-dl.py", line 291, in ExtractAndDownload
    self.login()
  File "udemy-dl.py", line 40, in login
    extract_info.login(self.user

[2018-02-12 08:07] r0oth3x49 commented on #98
@thesalah1212 the error is causing with python3 only will fix it ASAP. with python2 it works fine for me.
have a look.
![untitled](https://user-images.githubusercontent.com/11024397/36087724-a82f418e-0ff5-11e8-9259-fd6a23cf1a73.png)

[2018-02-12 08:11] r0oth3x49 commented on #99
@YaNgO15 i have tested against python2 it works fine for me. i 'm closing this issue as duplicate #98 to discuss this is a single issue.

[2018-02-12 08:11] #99 closed

[2018-02-12 08:24] gangadharparde commented on #98
![error](https://user-images.githubusercontent.com/7418840/36088232-4366d7d8-0ffc-11e8-9f52-fa2c528cfec5.PNG)

[2018-02-12 08:25] gangadharparde commented on #98
![error](https://user-images.githubusercontent.com/7418840/36088263-711fad08-0ffc-11e8-8167-b1b86a40bb5f.PNG)

[2018-02-12 08:28] gangadharparde commented on #98
Need solution for this error

[2018-02-12 08:37] r0oth3x49 commented on #98
@ gangadharparde which python version are you using?

[2018-02-12 08:52] r0oth3x49 commented on #98
@thesalah1212 @ejose19 @YaNgO15 @coder797
here is a simple workaround for both python version (py2 & py3)

- upgrade all the packages
- install requests[security]

then try to download and let me know if still the error occurs.

i have done the above steps and tested against py2 & py3 both, for me works fine now.
python3
![py3](https://user-images.githubusercontent.com/11024397/36089053-c565d848-0

[2018-02-12 08:54] #98 closed

[2018-02-12 09:04] yashjit commented on #99
No Luck for me.
Using MAC -10.15
Python - 2.7
-------------------------------------------------------------------------
[-] Unable to extract login-form form
Traceback (most recent call last):
  File "udemy-dl.py", line 924, in <module>
    main()
  File "udemy-dl.py", line 856, in main
    udemy.ExtractAndDownload(path=outto, quality=res)
  File "udemy-dl.py", line 291, in ExtractAndDownload

[2018-02-12 09:08] yashjit commented on #98
From cffi callback <function _verify_callback at 0x1083d7d70>:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/OpenSSL/SSL.py", line 313, in wrapper
    _lib.X509_up_ref(x509)
AttributeError: 'module' object has no attribute 'X509_up_ref'
[-] : Connection error : make sure your internet connection is working.

[2018-02-12 09:10] yashjit commented on #99
From cffi callback <function _verify_callback at 0x1083d7d70>:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/OpenSSL/SSL.py", line 313, in wrapper
    _lib.X509_up_ref(x509)
AttributeError: 'module' object has no attribute 'X509_up_ref'
[-] : Connection error : make sure your internet connection is working.

[2018-02-12 09:26] r0oth3x49 commented on #99
@yashjit you should update your python installation and then follow the steps.

- sudo pip install requests[security]

or install virtualenv and in that install the requirements and requests[security].

i have tested on MAC as well with py2 and py3 works fine for me i cannot reproduce the above error.

[2018-02-12 09:38] igizm0 commented on #98
Python 3.6.4
macOS High Sierra 10.13.3
Last version not work.

[2018-02-12 09:55] coder797 opened #100 "Bug cannot download Course"
[code]

iam using latest udemy-dl and installed all requirements...

[2018-02-12 09:56] coder797 commented on #100
Using windows 10 pro and python 2

[2018-02-12 10:01] gangadharparde commented on #98
@r0oth3x49:
Python3.6
32 bit Windows 7

[2018-02-12 10:40] jaan143 commented on #98
i have a question
is it download pdf and all other project files of course ?

[2018-02-12 14:28] ejose19 commented on #98
I still get the error after downloading the new version and upgrading the packages.

[2018-02-12 14:42] juheros commented on #100
Udemy has implemented a validation for automation tools.
the picture shows the html code that is returned of udemy when the udemy-dl tool tries to get the login form.
![screenshot from 2018-02-12 09-36-44](https://user-images.githubusercontent.com/4510220/36101911-b31a9d86-0fd8-11e8-8a5e-38308dd906a8.png)

[2018-02-12 15:32] linneudm commented on #100
I do not know what we need to do, but you can count on me to try to find a solution. My email is Linneu.DM@gmail.com.

[2018-02-12 16:54] trash-anger commented on #100
The solution could be to encapsulate the script into a chrome extension to use the chrome cookies and fingerprint ... ?

[2018-02-12 16:59] YaNgO15 commented on #99
it does not work on me with py2 and py3 on windows 10 :(

![no funiona](https://user-images.githubusercontent.com/34865634/36109025-321b7ff2-0fec-11e8-9963-fd5e9d612e9f.png)

[2018-02-12 17:28] linneudm commented on #100
See if this solution was resolved at #98 . It worked for me.

[2018-02-12 17:57] r0oth3x49 commented on #99
@YaNgO15 have a look it is working fine.
![capture](https://user-images.githubusercontent.com/11024397/36111426-e2960d06-1047-11e8-9830-9d2d6f99a397.PNG)

try to install each requirement one by one with `--upgrade` option.
example.
pip install requests[security] --upgrade

[2018-02-12 18:07] r0oth3x49 commented on #100
@trash-anger can explain a bit more how web server identifies the browser request?
i already have given the solution in issue #98 and it works fine for me i have tested with py2 & py3 both on `windows 7`,`windows 8.1`, `windows 10`, `mac osx 10.9.5`.

@coder797
have a look of windows 10 POC. it works fine.
![capture](https://user-images.githubusercontent.com/11024397/36111675-c545a184-1048-11e8-90

[2018-02-12 18:07] #100 closed

[2018-02-12 18:10] r0oth3x49 commented on #98
@gangadharparde you should check this issue #56

[2018-02-12 18:36] r0oth3x49 commented on #96
@RuthlessRuler i have never used aria2c downloader against save links. you can use IDM for that simply give a text file to idm it will download all the links.

with this script this is not possible to download directly to google drive. it will only download the course into your local system in folder manner & about getting higher speed of downloading the script uses the maximum downloading speed a

[2018-02-12 19:36] Feelav opened #101 "Unable to extract login-form form"
Hello, I got this error after I tried to download a course.
![error-udemy-dl](https://user-images.githubusercontent.com/34603115/36115689-22de7100-1034-11e8-9d9a-d28d1c0b3006.jpg)

I double checked my login and password. Any recommendations please?

[2018-02-12 20:13] DazzaB73 commented on #101
I can confirm this behaviour too.  I was able to download one of my courses yesterday morning (2018-02-11) but was unable to download another course yesterday afternoon.

[2018-02-12 20:28] r0oth3x49 commented on #101
@Feelav,@DazzaB73 check issue #98 i have already discussed the solution to this.

[2018-02-12 20:28] #101 closed

[2018-02-12 21:58] DazzaB73 commented on #98
I have tried python 2.712, 2.714, v3.5.2, v3.6.4 - all as fresh installs and downloading all the requirements and ensuring they are all up-to-date and I am using the latest version of udemy-dl.   I am still getting the error mentioned by thesalah1212 at the start of this post.

[2018-02-12 22:59] Niko7700 opened #102 "Unable to extract login-form form"
Hi,

I try to download a course, but it shows me the following
---------------------------------------------------------------
[*] : Downloading webpage..
[*] : Extracting course information..
[*] : Downloading 'proyecto ecommerce java ee jsp servlet con pagos en linea'.
[*] : Trying to login as (nicoyani8@gmail.com)...
[-] Unable to extract login-form form
Traceback (most recent call last):
  Fil

[2018-02-13 00:07] linneudm commented on #102
@Niko7700 check issue #98 the owner have already discussed the solution to this.

[2018-02-13 06:39] r0oth3x49 commented on #102
@linneudm thank you for your support. @Niko7700 i 'm closing this issue as duplicate you can check the solution in an issue link given by @linneudm .

[2018-02-13 06:39] #102 closed

[2018-02-13 06:52] Darking360 opened #103 "Windows: Unable to extract login-form form"
I'm trying to download from Udemy as explained in README.md. But when I try to run udemy-dl.py, I put my email and password, then it says that is extracting course information, then trying to login (I already checked that my credentials are ok), after that, it says:

`[-] Unable to extract login-form form
Traceback (most recent call last):
  File ".\udemy-dl.py", line 924, in <module>
    main()

[2018-02-13 07:03] r0oth3x49 commented on #103
@Darking360 you should check #98 and #100 . already discussed there.

[2018-02-13 07:03] #103 closed

[2018-02-13 07:12] #96 closed

[2018-02-13 09:08] thesalah1212 commented on #98
I still get the error after updating the packages

[2018-02-13 09:21] thesalah1212 commented on #98
@DazzaB73  it works fine after doing this command `pip install requests[security]`

[2018-02-13 09:57] yashjit commented on #98
Resolve after uninstall openssl pyhton package and reinstall it.

[2018-02-13 11:39] valix85 opened #104 "Login Error"
Hi I'm trying to login/download and every time obtain this error:

`
[-] Unable to extract login-form form
Traceback (most recent call last):
  File "udemy-dl.py", line 936, in <module>
    main()
  File "udemy-dl.py", line 725, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 303, in ExtractAndDownload
    self.login()
  File "udemy-dl.py", line 40, in login
    extract_info.logi

[2018-02-13 12:34] Jeffreyveggie commented on #23
[-] Unable to extract login-form form
Traceback (most recent call last):
  File "C:\Users\Jeffr\Desktop\udemy-dl-master\udemy-dl.py", line 936, in <module>
    main()
  File "C:\Users\Jeffr\Desktop\udemy-dl-master\udemy-dl.py", line 852, in main
    udemy.ExtractAndDownload(path=outto)
  File "C:\Users\Jeffr\Desktop\udemy-dl-master\udemy-dl.py", line 303, in ExtractAndDownload
    self.login()
  F

[2018-02-13 15:15] Niko7700 commented on #104
you should check #98 issue.

[2018-02-13 16:13] trash-anger commented on #100
It seams that udemy is trying to avoid users to download automatically a course by adding a captcha.

It would be a good idea to create a browser extension to rather than use a directly the python script and to replace `std_headers` by the user's real user-agent.

Doing this way, we maybe could distribute udemy-dl to a larger users population and we could especially use different fingerprints for

[2018-02-13 16:59] r0oth3x49 commented on #104
@Niko7700 thanks for your support. @valix85 check the solution. i 'm closing this issue as duplicate

[2018-02-13 16:59] #104 closed

[2018-02-13 21:33] valix85 commented on #104
Perfect just try to update a package. execute: pip install requests[security] and all works fine. thank you

[2018-02-14 03:27] ron-s opened #105 "unable to login"
I've tried to solve with recommendations found in closed issue #98, but nothing works. It's not even loading the webpage. All packages are updated to their latest.

![udemy-dl](https://user-images.githubusercontent.com/16160247/36186414-c637dbb0-10f3-11e8-899b-a1510f7395b9.jpg)

[2018-02-14 03:29] dudeslife opened #106 "unable to login.."
[-] Unable to extract login-form form
Traceback (most recent call last):
  File "udemy-dl.py", line 936, in <module>
    main()
  File "udemy-dl.py", line 841, in main
    udemy.ExtractAndDownload()

etc...

[2018-02-14 03:31] #105 closed

[2018-02-14 03:31] ron-s commented on #105
pebkac

[2018-02-14 04:15] RK4 commented on #106
Same problem here. Unable to log-in.

[2018-02-14 05:03] r0oth3x49 commented on #106
@dudeslife ,@RK4  check #98 #100

[2018-02-14 05:03] #106 closed

[2018-02-14 12:57] pppedrillo opened #107 "udemy-dl.py can not login, error "Unable to extract login-form form""
__                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __/ / / / / / /_/ /_____/ /_/ / /
 \__,_/\__,_/\___/_/ /_/ /_/\__, /      \__,_/_/
                           /____/
                                 Version : 0.3
                                 Author  : Nasir khan(r0ot h3x49)

[2018-02-14 16:05] Pheinte commented on #107
Same problem here :/

[2018-02-14 16:31] r0oth3x49 commented on #107
@pppedrillo ,@Pheinte check #98 , #100 .

[2018-02-14 16:31] #107 closed

[2018-02-14 18:31] Babazon commented on #40
This error happens on login for me
[code]

udemy-dl is up to date. the course is bought (I only download courses I have bought, because I don't have the kind of internet to stream hd videos)

[2018-02-14 23:16] tofanelli opened #108 "Error on download courses"
anyone getting this same error?

[2018-02-14 23:18] tofanelli commented on #108
And yes, i'm using the latest version =)

[2018-02-14 23:28] sv000008 commented on #108
Getting the following error:

[code]
[*] : Downloading webpage..
[*] : Extracting course information..
[*] : Downloading 'complete exchange 2013 practical guide'.
[*] : Trying to login as (*****@*****.***)...
[-] Unable to extract login-form form
Traceback (most recent call last):
  File "C:\Users\*****\AppData\Local\Programs\Python\Python36\Scripts\udemy-dl.py", line 924, in <module>
    main()

[2018-02-15 02:13] jonathans96 commented on #108
I have this error - windows 10

[-] Unable to extract login-form form
Traceback (most recent call last):
  File "udemy-dl.py", line 936, in <module>
    main()
  File "udemy-dl.py", line 891, in main
    udemy.ExtractAndDownload(quality=res)
  File "udemy-dl.py", line 303, in ExtractAndDownload
    self.login()
  File "udemy-dl.py", line 40, in login
    extract_info.login(self.username, self.pass

[2018-02-15 05:00] abravodeb commented on #98
pip install pyOpenSSL, its works! I'm using python3.6.2

[2018-02-15 08:02] r0oth3x49 commented on #108
@tofanelli , @sv000008 , @jonathans96 check #98 , #100

[2018-02-15 08:02] #108 closed

[2018-02-15 12:51] prajeshm07 commented on #27
when I run this command
python -m udemy_dl -s https://www.udemy.com/the-web-developer-bootcamp

I get the following error : -

Traceback (most recent call last):
  File "C:\Python\lib\site-packages\udemy_dl\udemy_dl.py", line 97, in get_csrf_token
    return match.group(1)
AttributeError: 'NoneType' object has no attribute 'group'

During handling of the above exception, another exception occurred

[2018-02-15 14:36] seanwhe commented on #27
On Ubuntu Linux 16.04
I can confirm the same error
[INFO-133] Trying to log in ...
[ERROR-61] Exception
Traceback (most recent call last):
  File "/usr/local/bin/udemy-dl", line 7, in <module>
    main()
  File "/usr/local/lib/python2.7/dist-packages/udemy_dl/udemy_dl.py", line 947, in main
    save_links, safe_file_names, just_list, output_dest, dir_use_course_title)
  File "/usr/local/lib/python

[2018-02-15 16:40] EricLenSher opened #109 "No module named Six"
Traceback (mos recent call last)
File "C:\users\eric\downloads\compressd\udemy-dl-master\udemy-dl.py", line 7 , in <module> import udemy
File "C:\users\eric\downloads\compressd\udemy-dl-master\udemy-dl.py", line 7, in <module>
form              ._extractor      import UdemyImfoExtractor
File "C:\users\eric\downloads\compressd\udemy-dl-master\udemy\_extractor.py", line 33 , in <module>
form ._sanit

[2018-02-15 17:40] r0oth3x49 commented on #109
@EricLenSher bro you should install all required modules method is already given in README.

[2018-02-15 17:40] #109 closed

[2018-02-15 17:41] EricLenSher commented on #109
Vào Th 6, 16 thg 2, 2018 lúc 00:40 Nasir Khan <notifications@github.com> đã
viết:

[2018-02-15 22:20] helenyau0 commented on #104
@r0oth3x49 when I try to run `pip install requests[security]` it gives me the error "You must give at least one requirement to install (see "pip help install")" However when running `pip install requests [security]` it installs or updates just fine. Also, I have all my packages upgraded but I'm still running into this login error.

[2018-02-16 04:39] mynameismaxz opened #110 "Udemy Login Error"
I have some error with login to udemy.

[code]

[2018-02-16 06:10] ronkiwest commented on #27
Same problem here in Windows 7 - there is an exception before login.Same happened when tried to download 2 courses.Here is the error message :

Trying to log in ...
 Exception
Traceback (most recent call last):
  File "udemy_dl.py", line 976, in <module>
  File "udemy_dl.py", line 971, in main
  File "udemy_dl.py", line 766, in udemy_dl
  File "udemy_dl.py", line 156, in login
  File "udemy_dl.py"

[2018-02-16 07:00] perezLamed commented on #110
I also got this error.

[2018-02-16 09:13] EricLenSher commented on #110
me also
+1

[2018-02-16 09:13] mskmx commented on #110
check #98, #100

[2018-02-16 09:31] seanwhe commented on #110
To add information. I am experiencing this problem with udemy-dl==0.2.2-alpha.2

[2018-02-16 09:40] seanwhe commented on #98
I can confirm that on Ubuntu Linux 16.04 installation of pyOpenSSL works.

# pip install pyOpenSSL

[2018-02-16 09:40] seanwhe commented on #110
I can confirm that on Ubuntu Linux 16.04 installation of pyOpenSSL works.

# pip install pyOpenSSL

[2018-02-16 12:35] #110 closed

[2018-02-16 13:11] serhattsnmz opened #112 "Password Error"
I have capitalized letters in my password such as "D", "A", "C"...
When I write my password, It doesn't get these chracters.

[2018-02-16 13:19] r0oth3x49 commented on #112
@serhattsnmz i will fix this ASAP.

[2018-02-16 13:23] kamalhm opened #113 "Error unable to extract login-form form"
I've entered all the right parameters, but then I got error when I tried to login.

TypeError: expected string or bytes-like object

[2018-02-16 13:26] serhattsnmz commented on #113
Try this ->
[code]

[2018-02-16 13:36] kamalhm commented on #113
Thank you, issue resolved!

[2018-02-16 13:36] #113 closed

[2018-02-16 13:47] serhattsnmz opened #115 "Important files mising"
There is no
- .gitignore file
- LICENSE file

It'd be better if you add these files.

[2018-02-16 13:49] r0oth3x49 commented on #115
@serhattsnmz i 'm currently working or next release in that i will add these files too.

[2018-02-16 13:50] r0oth3x49 commented on #112
@serhattsnmz can you please verfity this fix works for you?

[2018-02-16 13:55] serhattsnmz commented on #112
Works for me. Thanks.

[2018-02-16 13:55] #112 closed

[2018-02-16 14:04] #115 closed

[2018-02-16 16:38] milosbackonja commented on #27
Same error here on ElementaryOS (Ubuntu based distro):
$ udemy-dl -u user@domain -p ******* https://www.udemy.com/course
[INFO-835] Downloading to: /home/username/PATH

[INFO-107] Trying to log in ...
Traceback (most recent call last):
  File "/usr/local/bin/udemy-dl", line 7, in <module>
    main()
  File "/usr/local/lib/python2.7/dist-packages/udemy_dl/udemy_dl.py", line 837, in main
    udemy_d

[2018-02-16 17:45] seanwhe commented on #27
# pip install pyOpenSSL

[2018-02-16 20:55] perezLamed commented on #100
Thanks - solution did work for me.

[2018-02-17 02:17] ipkpjersi opened #117 "Can't download"
Hi,

Hold on, before you close this issue because it's a duplicate or it's been solved, I must inform you that is not the case.

I downloaded the latest code from the master branch which includes your latest commit 13 hours ago and I still get an error.

Here's the error: ![](https://i.imgur.com/7XWllNL.png)

[2018-02-17 03:48] hxor commented on #117
![capture](https://user-images.githubusercontent.com/18319373/36337728-078040ec-13d0-11e8-8efe-544aca68f9fc.PNG)
Same as me. this error is unable to extract form login.
i hope fix this ASAP

[2018-02-17 04:55] SiteDesignUSA opened #118 "SyntaxError: invalid syntax"
I've tried running this on a CentOS system with all the dependencies installed. Python v2.66

Here's the error:

[code]

Thanks

[2018-02-17 06:40] r0oth3x49 commented on #117
@ipkpjersi , @hxor did you try to install **requests[security]** or **pyOpenSSL** separately?

## *sudo -H pip install requests[security] --upgrade*
or
## *sudo -H pip install pyOpenSSL --upgrade*

@ipkpjersi  **did you tried of one of these solutions  ( **[#110](https://github.com/r0oth3x49/udemy-dl/issues/110#issuecomment-366187456), [#98](https://github.com/r0oth3x49/udemy-dl/issues/98#issuecom

[2018-02-17 06:54] r0oth3x49 commented on #118
@SiteDesignUSA i can give you a suggestion to upgrade your python version this might be syntax issue with py2.6 i have only tested this against >= 2.7.xx

[2018-02-17 07:46] ronkiwest commented on #40
Same problem on login on windows 7.

 Trying to log in ...
 Exception
Traceback (most recent call last):
  File "udemy_dl.py", line 976, in <module>
  File "udemy_dl.py", line 971, in main
  File "udemy_dl.py", line 766, in udemy_dl
  File "udemy_dl.py", line 156, in login
  File "udemy_dl.py", line 150, in get_csrf_token
AttributeError: 'NoneType' object has no attribute 'group'
Failed to execute

[2018-02-17 14:18] ipkpjersi commented on #117
I tried the first command: `sudo -H pip install requests[security] --upgrade` and it worked great, seems my dependencies were out of date. You can close this now if you want. Thanks!

[2018-02-17 15:15] #117 closed

[2018-02-17 15:17] hxor commented on #117
how about windows user ?

[2018-02-17 15:18] #118 closed

[2018-02-17 15:30] r0oth3x49 commented on #117
@hxor did you even tried to install before asking this question?

[2018-02-17 21:57] serhattsnmz opened #119 "Multiple Line Problem"
![02](https://user-images.githubusercontent.com/20886290/36345977-5c49732a-1446-11e8-85c4-5220b7219bd9.png)
![01](https://user-images.githubusercontent.com/20886290/36345978-5c7910ee-1446-11e8-82bb-da76065ea36d.png)

Before that, the downloading line was one line. But now, these are multiple lines.
What is the problem?
( Linux Mint - 18.3 / Both python2.7 and python3.6 )

[2018-02-18 05:59] r0oth3x49 commented on #119
@serhattsnmz this is not the problem simply increase the columns of terminal problem will be solved.
have a look.
![screenshot from 2018-02-17 21-57-41](https://user-images.githubusercontent.com/11024397/36348863-c62e28b8-149a-11e8-9855-85dbc4668aa7.png)
![screenshot from 2018-02-17 21-57-51](https://user-images.githubusercontent.com/11024397/36348865-cac67e7a-149a-11e8-9c9b-f53679c41059.png)

[2018-02-18 06:26] ameerhamza619 opened #120 "Slow downloading speed"
![image](https://user-images.githubusercontent.com/26673662/36348996-5998a260-149e-11e8-89ab-d452ca992acd.png)

I am facing slow download speed issue as shown in the image above. It is not the problem with my internet speed, as I am able to download the same file with 100 kB/s with IDM.

[2018-02-18 07:36] r0oth3x49 commented on #120
@ameerhamza619 this is not an issue but a network problem may be. you can save links to download using IDM or any other downloader you like.

[2018-02-18 07:37] #120 closed

[2018-02-19 05:23] #119 closed

[2018-02-19 09:42] hxor opened #121 "Connection error : make sure your internet connection is working."
I've try #117 and #44 but still not work. any idea ?
![screen shot 2018-02-19 at 4 37 07 pm](https://user-images.githubusercontent.com/18319373/36371019-6d474b72-1593-11e8-9573-88c266afbdc7.png)

![screen shot 2018-02-19 at 4 41 43 pm](https://user-images.githubusercontent.com/18319373/36371150-d33232b2-1593-11e8-9fca-de2d920a490b.png)

[2018-02-19 18:20] helenyau0 opened #122 "Unable to extract login-form form"
I have upgraded all the other modules, but when entering `sudo pip install requests[security] --upgrade` I'm getting this error.
![screen shot 2018-02-19 at 10 19 07 am](https://user-images.githubusercontent.com/22210582/36392108-873b684a-155e-11e8-83d3-ecbfaa07a2d5.png)

[2018-02-19 19:12] r0oth3x49 commented on #121
@hxor which OS r u using?

[2018-02-19 19:15] r0oth3x49 commented on #122
@helenyau0 have a look at issue [#117](https://github.com/r0oth3x49/udemy-dl/issues/117#issuecomment-366421627). which OS r u using?

[2018-02-19 19:31] helenyau0 commented on #122
@r0oth3x49 I'm using mac. I've tried entering both commands `sudo -H pip install requests[security] --upgrade` and  `sudo -H pip install pyOpenSSL --upgrade` and I'm still getting errors

[2018-02-19 19:48] r0oth3x49 commented on #122
@helenyau0 the error shows some kind of permissions error why don't you switch to root & then try installing the? don't install six. try below commands.
 - sudo -H pip install unidecode --upgrade
 - sudo -H pip install requests --upgrade
 - sudo -H pip install colorama --upgrade
 - sudo -H pip install pyOpenSSL --upgrade

if your current user is root then don't use sudo -H only pip install will do

[2018-02-19 20:17] desarrollador2Navsat opened #123 "Username and password"
![sin titulo](https://user-images.githubusercontent.com/19977793/36395568-68f74428-157f-11e8-8b35-5ae4a87885cc.png)

Hi, I'm getting this error. My username and pass are both correct.

[2018-02-19 20:23] r0oth3x49 commented on #123
@desarrollador2Navsat did you cloned the most recent version? explain a bit more write complete command you are using.

[2018-02-19 20:33] desarrollador2Navsat commented on #123
Sure, I'm using

python udemy-dl.py -u user@domain.com -p p4ssw0rd COURSE_URL

like

python udemy-dl.py -u bayron.picado@navsat.com -p ******** https://www.udemy.com/xamarin-forms-espanol/

and using the most recent option.

Thankyou!

[2018-02-19 20:43] helenyau0 commented on #122
I'm having trouble installing pyOpenSSL. It has something to do with six that I'm unsure about.
![screen shot 2018-02-19 at 12 42 57 pm](https://user-images.githubusercontent.com/22210582/36396342-79990850-1572-11e8-8bc6-98ffca282d63.png)

[2018-02-19 20:44] r0oth3x49 commented on #123
@desarrollador2Navsat how can i reproduce this error.

[2018-02-19 20:52] desarrollador2Navsat commented on #123
I don't know, the answer is: the username, password and course url are required. Is like I don't write them in console.

[2018-02-19 20:59] helenyau0 commented on #122
I tried the command `sudo -H pip install pyOpenSSL --upgrade --ignore-installed six` which fixed the install error but when attempting to login using udemy-dl, I am still getting the same login error.

[2018-02-19 21:45] helenyau0 commented on #122
@r0oth3x49 switching to root then installing dependencies also didn't work...

[2018-02-20 07:00] r0oth3x49 commented on #123
@desarrollador2Navsat have a look at issue #81 , i don't know what can be the problem so no fix for that until unless i cannot reproduce.

[2018-02-20 07:05] r0oth3x49 commented on #122
@helenyau0 did you tried udemy-dl with python3 may be it works. because for me on MAC it works fine. i cannot reproduce the error.

[2018-02-20 07:05] #121 closed

[2018-02-20 07:06] #123 closed

[2018-02-20 21:35] helenyau0 commented on #122
@r0oth3x49 I've been using python3 to download the courses. The program worked fine for me up until I disconnected from wifi one day while downloading a course.

[2018-02-20 21:53] helenyau0 commented on #122
@r0oth3x49 I solved the error. I was not specifying which python version to use in pip. If using python3 then module installs using pip should be specified as pip3. I switched to root then updated all modules using pip3 instead of pip

[2018-02-21 05:32] r0oth3x49 commented on #122
@helenyau0 great so i 'm going to close it now.

[2018-02-21 05:32] #122 closed

[2018-02-21 10:40] nadeemkhan123 opened #124 "Not able to Download from Udemy (My Internet Connection is working fine)"
[root@server udemy-dl]# python udemy-dl.py https://www.udemy.com/the-complete-jenkins-course-for-developers-and-devops/

              __                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __/ / / / / / /_/ /_____/ /_/ / /
 \__,_/\__,_/\___/_/ /_/ /_/\__, /      \__,_/_/

[2018-02-21 12:25] r0oth3x49 commented on #124
@nadeemkhan123 you should install requirements properly. the error cause because of ssl. so you should either install/upgrade **requests[security]** or **pyOpenSSL**

[2018-02-21 12:26] #124 closed

[2018-02-22 18:32] tylerforesthauser commented on #122
Hello,

Unfortunately I'm running into this same issue and I've seen _ALL_ the issues opened with this problem and have tried all of the solutions I could find. I am running macOS 10.13.3. I've tried using the already-installed Python 2.7.10 and Python 2.7.14 & Python 3.6.4 both installed via Homebrew. None have worked. I've tried making sure all of the requirements are installed and up to date (u

[2018-02-22 18:36] tylerforesthauser commented on #122
Installed pip3 modules:

[code]

[2018-02-22 18:39] masifpak80 opened #125 "It does not allow to download purchased course if you disconnect while downloading"
I was downloading udemy course. Due to some reason i have to disconnect downloading. Now I am trying to download again but facing some problem.

Traceback (most recent call last):
  File "udemy-dl.py", line 936, in <module>
    main()
  File "udemy-dl.py", line 725, in main
    udemy.ExtractAndDownload()
  File "udemy-dl.py", line 303, in ExtractAndDownload
    self.login()
  File "udemy-dl.py", l

[2018-02-22 19:02] tofanelli commented on #125
I'm getting this same error, but my internet connection wasn't disconnected.... it is working ok

[2018-02-22 19:14] casoleGiovanni opened #126 "Unable to extract login-form form TypeError: expected string or buffer"
Hello. I always get this problem\error
![inkedinkedudemy-dl_li](https://user-images.githubusercontent.com/21372076/36558930-e54d19d2-180c-11e8-9086-e04174bac704.jpg)
I've tried everything. Installing all the packages one by one, all together, updating python, using python2 but nothing works.
What can I do? Thanks

[2018-02-22 19:44] tofanelli commented on #126
same from [here](https://github.com/r0oth3x49/udemy-dl/issues/125)

[2018-02-22 19:52] helenyau0 commented on #122
@tylerforesthauser hm... I fixed the error when I switched to root then updated only these dependencies:
- sudo -H pip install unidecode --upgrade
- sudo -H pip install requests --upgrade
- sudo -H pip install colorama --upgrade
- sudo -H pip install pyOpenSSL --upgrade

Have you done this already?

[2018-02-22 20:11] HimitsuNoChikara commented on #126
Although many duplicates can be found in issues, none of the solutions there worked for me.
Using Python 3.6.4 on Windows 8.1, tried Python2 as well, every requirement re-installed/upgraded as well, none works out.

I debugged the extractor myself and found out that html (when expected otherwise) returns a robot check/captcha page, thus resulting in regex compiler returning an error, not finding t

[2018-02-22 21:45] tylerforesthauser commented on #122
@helenyau0 Yes, unfortunately I have, with no luck.

[code]

[2018-02-23 00:06] Saufy00 commented on #126
Tried every solution, upgrading packages, updating to latest Python 3,6.4, none of them worked.

C:\Users\ACER\Downloads\Compressed\udemy-dl-master\udemy-dl-master>python udemy-dl.py -u **********@****.com -p ****** https://www.udemy.com/instagram-marketing-for-small-businesses/

              __                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  /

[2018-02-23 06:32] r0oth3x49 commented on #125
@masifpak80 i 'm closing this with duplicate & will discuss about this error in #126 as both are same.

[2018-02-23 06:32] #125 closed

[2018-02-23 06:45] r0oth3x49 commented on #126
i will fix this ASAP. btw i 'm facing the same problem too :stuck_out_tongue_winking_eye: :joy: .

[2018-02-23 07:09] #126 closed

[2018-02-23 23:22] NoMoreUsernamesAvailable opened #127 "Umlauts in filenames"
Hi! Unfortunately all umlauts from the german language (ÄÖÜäöüß) gets "normalized" (=erased). Many of the lecture titles are harder to read because of this. Would it be possible to add umlauts to the allowed characters?

I tried this for a quick workaround: changing the `unicodedata.normalize` method in _sanitize.py from 'NFKC' to 'NFKD'. At least this gives me U instead of Ü or o instead of ö. Bu

[2018-02-24 06:43] r0oth3x49 commented on #127
@NoMoreUsernamesAvailable currently i 'm working on new release i will look into that in next release.

[2018-02-25 04:34] khansaad opened #128 "Unable to extract login-form"
![udemy-dl](https://user-images.githubusercontent.com/11271971/36638167-298c9e26-1a13-11e8-8ec2-041744d91c98.JPG)

I'm getting this error on downloading videos since yesterday. It was working fine last week.

[2018-02-25 06:57] r0oth3x49 commented on #128
@khansaad are you using the recent update? and looks other issues there are so many where discussion was going on this topic. before reporting an issue you should check if this is already discussed or not,

[2018-02-25 06:59] #127 closed

[2018-02-25 16:18] WassilDahi opened #129 "Error when trying to login"
hello , i have this error , my email and password is correct , i dont understand why :(
please help !

![capture du 2018-02-25 17-17-07](https://user-images.githubusercontent.com/36760738/36643709-d996bc7a-1a4f-11e8-913d-93f931ce0278.png)

[2018-02-26 15:32] IsraelGboluwaga opened #130 "Unable to login"
[code]

[2018-02-26 15:32] #130 closed

[2018-02-26 16:23] serhattsnmz opened #131 "Request"
Hi Nasir,

I've just seen your last release and I liked the new features.
However I'd like to download just lectures' names without video or subtitle. Maybe you'll add that in the future.

Thanks.

[2018-02-26 16:44] r0oth3x49 commented on #131
@serhattsnmz sure i will add a option to simply dump the names of lectures to text file. for now i will close this as future enhancement.

[2018-02-26 19:49] hiratsukaraphael commented on #130
Hello Israel, how did you resolve this issue? Thank you!

[2018-02-26 23:36] serhattsnmz opened #132 "More info for Advance Usage"
Hi,

I'm trying to use the new version of your program but I am confused about advanced usage below. I think you should make more explanation about them.

For example, I want to download just first lecture of course, but I could not even if I tried a lot of different things.

[code]

[2018-02-26 23:47] serhattsnmz opened #133 "Unknown Error"
Hi,

I'm trying to download the following course, but I'm getting the error below. Idk why. I get the error just for the course.
https://www.udemy.com/sifirdan-ileri-seviyeye-python
![ss](https://user-images.githubusercontent.com/20886290/36702523-7d1919a6-1b68-11e8-85ca-f1b7b493f42d.PNG)

[2018-02-27 05:54] #132 closed

[2018-02-27 05:55] #133 closed

[2018-02-27 08:38] IsraelGboluwaga commented on #130
I didn't. It works now though. Just pull the master branch now. It'll work. It was a break from the latest push.

[2018-02-27 16:51] hiratsukaraphael commented on #130
Perfect, tks @IsraelGboluwaga

[2018-02-28 02:37] hxor commented on #122
I think this package need update or some fix.
Because I've trying with this instructor but still error.
using python3 in windows machine.

[2018-02-28 17:11] RuthlessRuler opened #134 "[Feature Request] List of all enrolled course"
I would like to request this feature of listing all the course the account is enrolled in,

[2018-02-28 18:40] ronkiwest commented on #100
Today the download worked , don't know why it didn't work 10 days ago.

[2018-02-28 19:33] r0oth3x49 commented on #134
@RuthlessRuler its easy to watch your courses through web rather than watching it on command line. so for now i 'm not considering this as feature but may be in future releases. BTW thanks for your suggestion.

[2018-02-28 19:35] #134 closed

[2018-02-28 19:45] RuthlessRuler commented on #134
Well it's difficult to see the whole list if you have 200+ Enrolled courses on Udemy.

[2018-02-28 20:27] r0oth3x49 commented on #134
exactly udemy API returns the same result in request as well. so currently there is no way to put a single request and get the list of all courses which means if i implement this feature on command line, this wont help as well because the list will be shown as chunk instead complete list until unless you have less then 99 courses in your account.

[2018-03-02 07:36] YaNgO15 opened #135 "Request the download of "Quiz or Quizzies" files"
Hello Nazir,

Hello, the script udemy-dl-master seems great and almost complete, but I come to request a new function that I've seen in another script (udemy-dl-windows) that differentiates it, and is to download the files called "Quiz" of each course or section of course, and I would like it to be renamed in an orderly manner and not in an external folder, here I send you a screenshot.

Thanks!
!

[2018-03-02 13:14] r0oth3x49 commented on #135
@YaNgO15 downloading quizzes is out of scope. i didn't added this intentionally. the course videos and other materials are enough to learn. You can take quizzes on the bases of that learning. so i 'm closing this now.

[2018-03-02 13:14] #135 closed

[2018-03-02 22:34] YaNgO15 commented on #135
Thank you very much for responding, it was a suggestion to add that add-on to the script.

[2018-03-03 05:43] r0oth3x49 commented on #135
@YaNgO15 thanks for your suggestion.

[2018-03-04 15:48] progamerz opened #136 "Random numbers folder naming"
[*] : Course '157516041605158515801593 157516041588157516051604 1604157616061575
1569 1578159115761610160215751578 1583161015871603 157816081576 1576157615751610
157916081606 (Python  PyQt)'.
[+] : Chapter(s) (18).
[*] : Lecture(s) (91).

Maybe this is because the course name is in Arabic language? but before it used to name using the URL for example the course i am trying to download is https://w

[2018-03-04 17:23] #136 closed

[2018-03-05 12:21] gangadharparde opened #137 "Therer must be waiting time as available under youtube-dl else server logs out user (block user)"
Therer must be waiting time as available under youtube-dl else server logs out user (block user)

[2018-03-05 14:52] r0oth3x49 commented on #137
@gangadharparde can you please be more specific?i didn't get your point. what kind of wait time and for what?

[2018-03-05 20:11] Drovosek01 opened #138 "Question about folder names that are created before downloading courses"
Hello!

I downloaded the latest version of udemy-dl and updated pip from requirements.
I noticed that now when downloading courses from udemy, a folder with the course name is created.

In previous versions of your program when downloading courses created folder with name of ID of course. This ID could be pasted after https://www.udemy.com/ then you can go to the course page.

Is it possible in yo

[2018-03-06 06:13] #138 closed

[2018-03-06 19:07] Drovosek01 opened #139 "Error downloading file after pause."
During boot I pressed the left mouse button to put the download on pause. After ~ 10 minutes I pressed the space bar on the keyboard to continue downloading. But the file on which the pause was not downloaded completely. I opened it in the Explorer and there looked its size and the size was smaller than it should be. Also this video is not peremahival.

PS I just deleted the file and restarted the

[2018-03-06 19:20] Drovosek01 opened #140 "Error No such file or directory"
These errors occur during the course download process. I'm using the latest version of your program.

![image](https://user-images.githubusercontent.com/29478700/37053099-542eacca-218c-11e8-9ee6-d815e7c14c80.png)

[2018-03-06 22:18] tofanelli commented on #24
hey @r0oth3x49 .... i used to have this same punctuation issue when I was using udemy-dl from Nishad, and to avoid the blank space instead the character, i used to used a DOS command called [chcp](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-xp/bb490874(v=technet.10)) and this change the console code page...

So, for me, to download courses in Brazilian Portuguese, i u

[2018-03-07 07:07] r0oth3x49 commented on #139
@Drovosek01 i cannot i reproduce BTW, this is not the way to pause video if really want to pause simple terminate the session and when you run again the script will start from the same point. i m closing this is invalid.

[2018-03-07 07:07] #139 closed

[2018-03-07 07:10] r0oth3x49 commented on #140
@Drovosek01 i cannot explain the error which is already discussed so many times on windows you will face all the time same problem if the path is longer then specified path convention. read on Microsoft for that or check the older issues. closing this as dupliacte

[2018-03-07 07:10] #140 closed

[2018-03-07 07:11] #137 closed

[2018-03-08 18:06] tofanelli opened #141 "Issue #24"
hey @r0oth3x49 ...

mind to take a look on issue #24 please???

cheers =)

[2018-03-08 18:15] r0oth3x49 commented on #141
@tofanelli i will take a look on this week end.

[2018-03-09 04:20] StevenNani opened #142 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'"
This error is occurring only for few courses like I can download this course with no problem
https://www.udemy.com/unreale4
but not the below ones
https://www.udemy.com/intro-to-architectural-visualization-using-3ds-max-and-v-ray_zillus/learn/v4/
https://www.udemy.com/sketching-for-animators-who-cant-draw/learn/v4/
This is the error I get.
I thought it had something to do with the course title bei

[2018-03-09 08:23] Jaykaydre opened #143 "Trying to download a course and getting the below error"
Traceback (most recent call last):
  File "udemy-dl.py", line 1187, in <module>
    main()
  File "udemy-dl.py", line 1028, in main
    udemy.course_download(path=options.output, quality=options.quality)
  File "udemy-dl.py", line 379, in course_download
    course = udemy.course(self.url, self.username, self.password)
  File "/home/kayode/Documents/udemy-dl/udemy/_udemy.py", line 37, in course

[2018-03-09 19:36] r0oth3x49 commented on #142
@StevenNani you should upgrade to recent one this is already patched. check #133

[2018-03-09 19:36] #142 closed

[2018-03-09 19:36] r0oth3x49 commented on #143
@Jaykaydre will check.

[2018-03-10 05:59] harishpal2090 commented on #143
have encounter with same error- please help.
[*] : Downloaded course information .. (done)
Traceback (most recent call last):
  File "udemy-dl.py", line 1187, in <module>
    main()
  File "udemy-dl.py", line 1039, in main
    udemy.course_list_down(chapter_number=options.chapter, lecture_number=options.lecture)
  File "udemy-dl.py", line 111, in course_list_down
    course = udemy.course(self.url

[2018-03-10 08:16] thedtech opened #144 "Getting Below Mentioned Error"
Microsoft Windows [Version 10.0.16299.248]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\Deepak>udemy-dl.py -u ********* -p ********** https://www.udemy.com/the-python-bible -o "C:\Users\Deepak\Desktop\Udemy"

              __                               ____
   __  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __

[2018-03-10 10:58] r0oth3x49 commented on #144
@thedtech i cannot reproduce works fine for me

[2018-03-10 10:59] #144 closed

[2018-03-10 11:07] r0oth3x49 commented on #143
@Jaykaydre can you please provide course URL?

[2018-03-11 03:56] Jaykaydre commented on #143
here you go : https://naspers.udemy.com/understand-javascript/learn/v4/overview

[2018-03-11 15:54] tofanelli commented on #143
nice try to scam @Jaykaydre .... good try but needs a little bit more effort....

@r0oth3x49 ... just got this same error...  =\

[2018-03-11 16:06] mandrivnyk133 opened #145 ""[-] Unable to extract course idation .." error"
[+] : Logged in successfully.
[-] Unable to extract course idation .."

That is what I get when I try to download this course:
https://www.udemy.com/complete-guide-to-tensorflow-for-deep-learning-with-python/
I tried other courses, as well as free one, but the result was the same.

[2018-03-11 16:14] chnsh commented on #27
The issue is that if you keep on trying the udemy-dl script in a short period of time, udemy blocks you and @r0oth3x49 's regex to fetch csrf token fails.

Retry after a pause and this issue won't affect you

[2018-03-11 17:01] r0oth3x49 commented on #145
@mandrivnyk133 will fix this ASAP

[2018-03-11 17:03] r0oth3x49 commented on #143
@Jaykaydre i cannot reproduce the error with that course for me it is working fine.
![capture](https://user-images.githubusercontent.com/11024397/37256093-ee97aa7a-2577-11e8-893b-d5d342e0a562.png)

[2018-03-11 17:05] mandrivnyk133 commented on #145
Thank you!

[2018-03-11 17:06] #145 closed

[2018-03-11 17:09] r0oth3x49 commented on #143
@tofanelli how can i reproduce i need the course URL to test against if i cannot reproduce i will not be able to fix.

[2018-03-11 17:36] chnsh opened #146 "I get blocked by udemy on the get_course_info() method"
Udemy flags it as bot traffic, not udemy-dl's fault.

Have created an issue to improve error handling

[2018-03-11 18:51] serhattsnmz opened #147 ""Unable to extract course id" Error"
Hi @r0oth3x49 ,

I'm getting `Unable to extract course id` error just after logged in.
The error rises just for linux, I also tried Windows but got no exception.

What is the problem?
Thanks.

[2018-03-11 18:53] serhattsnmz commented on #147
Hi @r0oth3x49 ,

It solved just after I pull the last version. Idk why.
You can close that issue.

Thanks.

[2018-03-11 19:32] r0oth3x49 commented on #146
@chnsh already solved the issue.

[2018-03-11 19:32] #146 closed

[2018-03-11 19:34] #147 closed

[2018-03-11 23:32] tofanelli commented on #143
Sure... i tried with this one

https://www.udemy.com/ajax-fetch-xhr/

but I think its because you are on version 0.4 and I on version 0.3....  most likely =\...  I will update and ping back here shortly

[2018-03-11 23:37] tofanelli commented on #143
Yup... as i suspected, you released a new version and we didn't updated.... case closed =)

Mind I suggest something? Move the quizzes to a new folder and project files to another one, just like Udemy-dl from Nishad used to.... it was a nice way to keep the area clean and only see the videos / pdf to that folder.... i liked that way =)

[2018-03-11 23:39] tofanelli commented on #141
Sure...

https://www.udemy.com/git-e-github-para-iniciantes/

https://www.udemy.com/criando-sites-estaticos-com-jekyll/

Both portuguese and both has a plenty of words to figure it out how to solve it =)

Cheers =)

[2018-03-11 23:41] tofanelli commented on #141
And there's way more links here if you may need @r0oth3x49  =)

https://www.udemy.com/courses/development/all-courses/?lang=pt&price=price-free

Cheers =)

[2018-03-12 19:41] vikasnewports opened #148 "How to use or How to download by using this script"
Sorry for very basic question
how can I download the course (already joined/subscribed)
I have windows 10 and already installed python 3
already installed IntelliJ Community version (as IDE)
I tried to download by launching Windows Power Shell but error

[2018-03-13 03:39] r0oth3x49 commented on #148
@vikasnewports the very basic usage is.
- simply launch the power shell or cmd in the root directory of udemy where `udemy-dl.py` is.
- now run the command billow to download course.
- `python udemy-dl.py -u YOUR_EMAIL_HERE -p YOUR_PASSWORD  COURSE_URL`
**Example**
[code]
rest you can check.
  - ### [Usage](https://github.com/r0oth3x49/udemy-dl#usage)

[2018-03-13 03:39] #148 closed

[2018-03-13 06:54] aviralwal opened #149 "float division by zero error while downloading subtitles"
While downloading a course, I got the following issue. The course was `https://www.udemy.com/complete-guitar-system-beginner-to-advanced/learn/v4/overview`

[code]

[2018-03-13 07:54] r0oth3x49 commented on #149
@aviralwal will fix ASAP thanks for the report.

[2018-03-13 14:56] thedtech opened #150 "Please Help!!!"
Hello Sir,
              Sorry, If I am asking a noob question. Actually your script is running very well with Python 3.6.4 installed on my system. But I am currently learning Python Programming, Due to which I have to install ANACONDA PYTHON on my system but whenever I install Anaconda on my system, Script starts to give following errror:

**udemy-dl.py: error: the following arguments are require

[2018-03-13 18:46] tofanelli commented on #150
install docker to use Anaconda =)... no?

[2018-03-13 20:03] katiyarsahil opened #151 "Anaconda installation post install script fails"
I am trying to reinstall anaconda 64 bit on Windows and the installations works right till the end but it fails executing the post install script and returns a Winerror 2: File not found error The system cannot find the file specified.
However, If i check the LIb folder in Anaconda3 folder, i see the files _nsis.py and subprocess.py which the installer says are missing.
Ignoring the error results

[2018-03-14 02:00] sudamar opened #152 "Not download course"
I try MANY TIMES to download my course from completed url(https://www.udemy.com/XXXXXX/learn/v3/overview), but failed:

[INFO-835] Downloading to:
_

**> [INFO-107] Trying to log in ...

I am using Ubuntu LTS in VPS. When i try to download from simple url ( https://www.udemy.com/XXXXXX/):

**>

What do I need to do?
_

[2018-03-14 04:00] thedtech commented on #150
@tofanelli I have installed Docker but I don't know what to do next. Can't I run this script with docker? if yes, then please tell me the next steps. Is it necessary to run Anaconda with Docker to run this script?

If there is a simple way to run this script while Anaconda installed on system then please please tell me. extremely sorry if I am annoying you with these noob questions but please help

[2018-03-14 07:26] r0oth3x49 commented on #152
@sudamar you are using a package at Python's Repository which is not the same as this one so either clone this repository and try to download or better to report to the original developer of python's repository.

[2018-03-14 07:26] #152 closed

[2018-03-14 07:28] r0oth3x49 commented on #151
@katiyarsahil what the hack is going on man, this is invalid issue i don't even know what you are talking about.

[2018-03-14 07:28] #151 closed

[2018-03-14 07:37] r0oth3x49 commented on #150
@thedtech you are facing that error because course URL is positional argument so it need to be provide either way. i really didn't tested the script with Anaconda installation so i 'm sorry my brother i cannot help you with that. i would really appreciate if some else can.

[2018-03-14 16:24] katiyarsahil commented on #151
Hi Nasir,

My Apologies for posting my request on your board. This was my first time
using Github and was not aware of the correct way to use it when I posted
that. Would pay more attention moving forward now when i know how to
utilize the platform.

Again, sorry for the inconvenience I caused.

Thank you

On Wed, Mar 14, 2018 at 1:28 AM, Nasir Khan <notifications@github.com>
wrote:

[2018-03-14 16:29] tofanelli commented on #150
@thedtech .... docker is a way to virtualize an OS inside your computer with some cool things... you will need go to docker website, find a container with python, go to your terminal, ask for download and install and then use it

[2018-03-14 16:52] darmohray opened #153 "Quiz download"
Could You please implement or fix the feature of downloading quizes attached to udemy courses?

[2018-03-14 17:41] r0oth3x49 commented on #153
@darmohray this is out of scope and duplicate of #135

[2018-03-14 17:41] #153 closed

[2018-03-15 14:39] RuthlessRuler opened #154 "No Name of the video appears while saving"
Well, earlier, the name of the video or the subtitle used to be there, but with latest version, only the video lecture names are saved.

Also, if i use arguments like  --save --skip-sub, then the the skipi-sub is ignored by the program.

[2018-03-15 21:58] Drovosek01 commented on #149
I have same problem.
![image](https://user-images.githubusercontent.com/29478700/37493189-28504566-28b5-11e8-9cad-808369de60ea.png)

[2018-03-16 06:52] MrEhsanEllahi commented on #141
@r0oth3x49 can you please make a video or guide me that how can i run this script from scratch.

[2018-03-16 07:21] r0oth3x49 commented on #154
@RuthlessRuler can you please explain a bit more i 'm not getting your point?

[2018-03-16 07:27] r0oth3x49 commented on #150
@thedtech i 'm considering that the problem is solved for you and closing the issue but other can also suggest there solution to this issue.

[2018-03-16 07:27] #150 closed

[2018-03-16 07:29] r0oth3x49 commented on #149
@Drovosek01 both are different but i will take a look at this one as well. it will be good if you can paste the course link here.

[2018-03-16 08:09] RuthlessRuler commented on #154
Yeah, i remeber it clearly, and i just saw that you added the compatability for aria2c, but then in the end, how the files are gonna be renamed to match with the course since the videos dont have any file name, why dont add that file name append so that even videos filename gets predefined.

Like having a txt file with name which was it downloaded on one side, and the name it has to be renamed too

[2018-03-16 08:12] Drovosek01 commented on #149
https://www.udemy.com/aws-solutions-architect-associate-practice-exams-sampler/learn/v4/

[2018-03-16 14:20] tofanelli commented on #141
@MrEhsanEllahi

1- install python
2- open your cmd and type - python -V (with capitalized V, to check the version and if its running ok)
3- click on download to get the files
4- extract to a folder on your drive root (because you may face some problems with long names if you're using windows)
5- open your cmd and go to the folder where you extracted the zip file
6- run this command
`pip install -r

[2018-03-17 06:19] vikasnewports opened #155 "Unable to run the script"
Hello, I have searched and nothing worked for me so I have posted my question again.
I have installed Python3.6 on laptop under Windows 10.
here is the path for python

    C:\Users\Probook\AppData\Local\Programs\Python\Python36-32

I have already this path to my system environment also created the directory in C for project and add that path too in system environment.
 But I am getting failed to

[2018-03-17 06:59] MrEhsanEllahi opened #156 "Unable to Execute Python commands in Windows Server 2012 R2"
I have installed python36 on windows server 2012 R2 and also add paths to system properties to access python. But when I try to execute python commands in windows CMD, it invokes python interpreter. While in Windows 8.1, its working fine.

![img_20180317_112551](https://user-images.githubusercontent.com/37433424/37552635-1ed13064-29db-11e8-875d-4ffaed851411.jpg)

And one more thing, I did try to e

[2018-03-17 07:10] MrEhsanEllahi commented on #141
@tofanelli i am facing a problem while executing this command on windows server 2012. It orks perfect on win 8.1.

[2018-03-17 07:11] MrEhsanEllahi commented on #141
@tofanelli @r0oth3x49 plz take a look on issue #156

[2018-03-17 07:24] vikasnewports commented on #155
i have resolved it my own
by doing this
pip install -r requirements.txt

[2018-03-17 10:31] Jaffar-Hussain commented on #156
first give path to scripts folder  then
py -m pip install tkinter
* Replace tkinter with your module or package..

[2018-03-17 16:33] tofanelli commented on #156
and, one more thing, open your terminal as administrator.... windows server version enforces too much the security, specially on terminals

[2018-03-17 18:15] r0oth3x49 commented on #154
@RuthlessRuler will w8 for more suggestion from others. closing the issue.

[2018-03-17 18:15] #154 closed

[2018-03-17 18:19] r0oth3x49 commented on #155
@vikasnewports great if the issue is solved for you why dint you closed the issue by your self. closing now.

[2018-03-17 18:19] #155 closed

[2018-03-17 18:21] r0oth3x49 commented on #156
@MrEhsanEllahi i didn't tested with `Windows Server 2012 R2`. and this issue is more related to OS than this repository. so i 'm closing this and hoping that @tofanelli suggestion worked for you.

[2018-03-17 18:21] #156 closed

[2018-03-17 23:37] GhaziXX opened #157 "unable to extract login-form"
after upgrading to the latest version i encountred this problem
![command prompt](https://user-images.githubusercontent.com/24620184/37561034-8ab89ab0-2a44-11e8-82fb-bba67fef1bfc.png)

[2018-03-17 23:56] GhaziXX commented on #157
ok I solved this problem by referring to an older post but now I am getting this error
![command prompt_2](https://user-images.githubusercontent.com/24620184/37561135-3b7da53c-2a47-11e8-87f6-dd6303b38fd0.png)

[2018-03-18 02:28] mhalawa96 opened #158 "progress bar enhancing"
it would be better if it presented as a single line,
instead of printing every change in a separate line.
![Issue](https://i.imgur.com/uY0n01K.png)

[2018-03-18 07:50] r0oth3x49 commented on #158
you should take a lookmat issue #119 .

[2018-03-18 07:50] #158 closed

[2018-03-18 08:01] r0oth3x49 commented on #157
@GhaziXX i cannot reproduce or may be you are not using the recent update. #145 .

[2018-03-18 08:01] #157 closed

[2018-03-18 08:48] r0oth3x49 commented on #149
@Drovosek01 i have checked the udemy returns these questions in quiz class that's why you cannot download that because quizzes are out of scope.

[2018-03-18 09:56] #149 closed

[2018-03-18 12:52] geomohammadali opened #159 ""python setup.py egg_info"
Hi Sir,
i'm not similar with python actually but i tried to use it to download a small coarse
and when i'm trying to use your code i got this problem

{Command "python setup.py egg_info" failed with error code 1 in C:\Users\MOHAMM~1\AppData\Local\Temp\pip-build-sskk4fs7\cffi\ }

what should i do

[2018-03-18 13:42] geomohammadali commented on #159
i made a re set up and it works >> thanks 👍

[2018-03-18 16:39] #159 closed

[2018-03-21 14:33] mariesheilag opened #160 "[ERROR-166] Course id not found!"
Hi @r0oth3x49 , i also encountered "Course id not found" issue. I tried the URL with /learn/v4/*. Can you please advise on what should I do?

[2018-03-21 18:37] vikasnewports opened #161 "Feature Req: All Courses list"
is it possible to get the list of all courses (joined /enrolled) along with their URLs and categories.
list can be export in csv or xls or pdf etc ...

[2018-03-22 07:23] HaoweiCh opened #162 "Feature Req: Can we download all the supplementary assets?"
I wanna write a tool to manage all the information related to the course, but unfortunately `youtube-dl` is not support this and the resume feature is bad...

and I wrote a demo to download a whole course into one place(archive), and with the ability to download assets,.

I really the project you created,, and can I party in?

glad to contact you.

[2018-03-22 11:22] ram619 opened #163 ""Course id not found!" Crashing on retry"
Hi,
I am getting following errors

1. Login is successful but gives the error

 Login success.
 **Course id not found!**

2. On multiple retries the script start **crashing**

 Exception
Traceback (most recent call last):
  File "udemy_dl.py", line 976, in <module>
  File "udemy_dl.py", line 971, in main
  File "udemy_dl.py", line 766, in udemy_dl
  File "udemy_dl.py", line 156, in login
  File "u

[2018-03-22 12:38] r0oth3x49 commented on #163
@ram619 check issue #152

[2018-03-22 12:38] #163 closed

[2018-03-22 12:40] r0oth3x49 commented on #161
@vikasnewports no we can only get the 100 results/request. check #134

[2018-03-22 12:40] #161 closed

[2018-03-22 12:44] r0oth3x49 commented on #162
@Chaaang this utility already have a feature to download all available supplementary assets. BTW i 'm unable to get what you want say can you please explain a bit more? what problem actually you are facing with this utility.

[2018-03-22 21:16] Rithic3 commented on #162
@r0oth3x49 can you like make a video on how to use this program? i very new to all this and i have no idea how to get it even started

[2018-03-22 23:02] Chaaang commented on #162
I'll check this utility deeply, and by the way, if this utility can installed by `pip` is a really great.

also , add this to homebrew...

thanks...

[2018-03-23 10:47] r0oth3x49 commented on #162
@Rithic3 i will add a comprehensive video for the usage of this tool soon Insha Allah.

[2018-03-23 20:54] tofanelli commented on #162
@Chaaang .... please take a look in this comment [here](https://github.com/r0oth3x49/udemy-dl/issues/141#issuecomment-373727754)

[2018-03-25 22:53] ipkpjersi opened #164 "Can't download"
Hi,

Whenever I attempt to download videos with either of my two Internet connections, I get an error. Normally if I switch Internet connections, this type of error goes away but not the last 2 days which makes me think this is an actual error. When I go to udemy, there is no captcha or anything like that so I definitely think this is an actual error.

Here is the error:
![](https://i.imgur.com/4w

[2018-03-26 07:20] seanwhe opened #165 "[ERROR-61] Exception"
Today I tried downloading some courses and received the following on
Ubuntu 16.04 LTS with udemy-dl==0.2.2-alpha.2 and python-pptx, pyOpenSSL aria2 and ffmpeg installed.

[INFO-133] Trying to log in ...
[ERROR-61] Exception
Traceback (most recent call last):
  File "/usr/local/bin/udemy-dl", line 7, in <module>
    main()
  File "/usr/local/lib/python2.7/dist-packages/udemy_dl/udemy_dl.py", line 9

[2018-03-26 07:34] seanwhe commented on #165
Login seems to be a problem again

[2018-03-26 17:49] r0oth3x49 commented on #164
@ipkpjersi you should upgrade to recent commit.

[2018-03-26 17:51] r0oth3x49 commented on #165
@seanwhe i think you are not using this Repo but the One on python's repository. check this issue #152

[2018-03-26 17:51] #165 closed

[2018-03-26 17:52] #162 closed, assigned to nobody

[2018-03-26 18:14] #164 closed

[2018-03-26 19:21] seanwhe commented on #165
Yes I am installing with from pip

[2018-03-26 20:45] r0oth3x49 commented on #165
@seanwhe clone this repository and try to download if you face any error with this repo then let me know. i did not added this to python's repository yet. so this utility cannot be installed with `pip` but can only be clone from github.

[2018-03-28 13:53] rahulnautiyal opened #166 "Unable to extract course idation .."
__  ______/ /__  ____ ___  __  __      ____/ / /
  / / / / __  / _ \/ __ `__ \/ / / /_____/ __  / /
 / /_/ / /_/ /  __/ / / / / / /_/ /_____/ /_/ / /
 \__,_/\__,_/\___/_/ /_/ /_/\__, /      \__,_/_/
                           /____/
                                 Version : 0.4
                                 Author  : Nasir Khan (r0ot h3x49)
                                 Github  : https://gi

[2018-03-28 18:36] r0oth3x49 commented on #166
@rahulnautiyal this is already fixed check this issue #145

[2018-03-28 18:36] #166 closed

[2018-03-28 18:55] rahulnautiyal commented on #166
But i have the latest code, i took it yesterday itself, with my credentials i am able to download where as from my friends credentials i am not able to download videos.

[2018-03-29 03:30] shawata commented on #2
give me the program please

[2018-03-29 03:38] la9una commented on #166
Not work for me.

`
[*] : Trying to login as (mymailxxx@gmail.com)...
[+] : Logged in successfully.
[-] Unable to extract course idation ..
`
. udemy-dl version : 0.4
- Python 2.7.12
- Install pyOpenSSL from source (also from pip)
. Ubuntu 16.04 LTS

[2018-04-06 11:53] PublicPlace opened #167 "TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'"
Error message while trying to dl:
https://www.udemy.com/hands-on-sketch-4-masterclass-learn-web-and-mobile-design/

  File "udemy-dl.py", line 1201, in <module>
    main()
  File "udemy-dl.py", line 898, in main
    udemy.course_list_down(chapter_number=options.chapter, lecture_number=options.lecture)
  File "udemy-dl.py", line 125, in course_list_down
    course = udemy.course(self.url, self.user

[2018-04-06 12:30] anthonymuna commented on #40
![screenshot at 2018-04-06 15-27-39](https://user-images.githubusercontent.com/20999541/38421301-5921022e-39af-11e8-8a66-2208af2a0446.png)
same issue.. Does anyone have a solution for this?

[2018-04-06 12:36] anthonymuna commented on #40
same issue. Has anyone found the solution?
![screenshot at 2018-04-06 15-27-39](https://user-images.githubusercontent.com/20999541/38421531-1bf56222-39b0-11e8-83df-a004530d2148.png)

[2018-04-06 13:27] elzerver commented on #40
What version are you using? Try with the latest on GitHub.

El vie., 6 de abr. de 2018 7:36 AM, Anthony Muna <notifications@github.com>
escribió:

[2018-04-06 13:36] anthonymuna commented on #40
Am using the latest version 0.2.2a2.

On Friday, April 6, 2018, Aldo <notifications@github.com> wrote:

[2018-04-06 13:38] psarz commented on #40
Guys..
It's working for me.

I think the problem because of permission issue in my linux vm.

Try to configure it using root and then switch back to normal user.

Best,
Psarz

On Fri, 6 Apr 2018, 18:57 Aldo, <notifications@github.com> wrote:

[2018-04-06 15:45] tofanelli commented on #167
have you tried to download any other course? Because im downloading a course right now and its ok... working flawlessly =)

[2018-04-06 16:16] PublicPlace commented on #167
all the others indeed work flawlessly… maybe some escape character issues …

[2018-04-06 17:26] r0oth3x49 commented on #167
@PublicPlace i don't have this course in my account so i cannot test against this one. but testing on other courses udemy-dl works fine for me. if you want me to test and fix error on this course, I might need your account.

[2018-04-07 13:59] hechanghong commented on #167
I got same issue today for one course using below cli, but working well for other courses as of now.

-------------------Log------------------------
[+] : Logged in successfully.
[*] : Downloading course information .. \Traceback (most recent call last):
  File "udemy-dl.py", line 1187, in <module>
    main()
  File "udemy-dl.py", line 1183, in main
    udemy.course_download(path=options.output, q

[2018-04-07 19:53] phyzixmusic opened #168 "No Audio in Videos"
Everything works like a charm but the videos have no audio :(
Please assist me

[2018-04-08 02:08] bamacanuck opened #169 ""course id not found""
I used the udemy-dl utility many months ago, with success, and I thank you for this.

Tonight, seeking to use it again, I've found I'm unable to download course materials. I keep getting the same message, noting that the course id can't be found. I've tried this with several of the many courses I've acquired, over time.

[2018-04-08 08:57] r0oth3x49 commented on #168
@phyzixmusic i just checked i cannot reproduce. for me it is working fine so i 'm closing this issue with invalid.

[2018-04-08 08:57] #168 closed

[2018-04-08 09:00] r0oth3x49 commented on #169
@bamacanuck i will check & fix ASAP.

[2018-04-08 13:27] hechanghong commented on #167
@tofanelli
thanks for your advice, but it is not working for me.
I got the same error like below. By the way, I am using Mac, not windows.

[+] : Logged in successfully.
[*] : Downloading course information .. \Traceback (most recent call last):
  File "udemy-dl.py", line 1187, in <module>
    main()
  File "udemy-dl.py", line 1183, in main
    udemy.course_download(path=options.output, quality=op

[2018-04-08 22:47] maxnnina commented on #169
I am having the same issue as bamacanuck.
[ERROR-166] Course id not found!

[2018-04-09 08:55] r0oth3x49 commented on #169
@maxnnina you are not using this repo but the one on python repo. so either report the bug to original author or use this one.

[2018-04-09 08:58] #169 closed

[2018-04-10 00:30] maxnnina commented on #169
@r0oth3x49  So sorry for the mistake!  I am still very much a newbie.  I cloned your repo and it is working perfectly.  Thank you so much!!

[2018-04-10 15:37] nyoman commented on #40
Hi Babazon,
Now I can download my courses from udemy.
I used to use UDEMY-DL.EXE and I experienced problems as mentioned by others.
So, thanks for showing this link: git clone https://github.com/r0oth3x49/udemy-dl.git

I suggest any one to check this link: https://github.com/r0oth3x49/udemy-dl
to get this: git clone https://github.com/r0oth3x49/udemy-dl.git)

Here is the image that I made it.
![ud

[2018-04-11 07:01] AnkitVashist11 commented on #145
[-] Unable to extract course idation ..

Getting this error while trying to download course from udemy in ubuntu 14.04
Can Anyone help?

[2018-04-12 03:16] harishpal2090 opened #170 "Unable to extract course idation"
HI All,
i am receiving the below error message while using the script to download the Udemy content.
i have read all the previous given article about the error message and i am using latest GIt repo. however still encountering with the same error message. Will appreciate your help.
![error-message](https://user-images.githubusercontent.com/12540336/38654641-0452bac0-3e2e-11e8-93a7-3328ab5b8f2e.jpg

[2018-04-12 20:57] thesalah1212 opened #171 "Caption format issues"
when I was trying to download some courses from udemy  I notice that some courses's captions have an error in its syntax of srt

for example in this course udemy.com/animationselling the caption file is like this
**so it doesn't open by vlc**
![image](https://user-images.githubusercontent.com/13509687/38703699-a2baac76-3eac-11e8-9a4e-6943341b6649.png)

notice that all videos in this course caption

[2018-04-12 21:14] thesalah1212 commented on #170
may you check the url you have put in in wrong way

[2018-04-12 21:23] patelsiraj1 opened #172 "Ability to list all subscribed courses"
Please add feature to list all subscribed courses and export it in a text file.

[2018-04-13 12:24] vikasnewports commented on #172
not possible because the api is not supported

[2018-04-13 12:51] r0oth3x49 commented on #172
@patelsiraj1 this is discussed so many times in previous issues and i said that i will not add this feature so sorry for that.

[2018-04-13 12:51] #172 closed

[2018-04-13 12:53] r0oth3x49 commented on #170
@harishpal2090 i cannot reproduce the error.

[2018-04-13 12:54] r0oth3x49 commented on #171
what is wrong with caption and it will be great if you can share the course url.

[2018-04-13 13:16] thesalah1212 commented on #171
http://udemy.com/animationselling

[2018-04-13 18:34] #170 closed

[2018-04-13 18:37] r0oth3x49 commented on #171
@thesalah1212 i don't have this course in my account so i cannot test against this course but i have tested against many others and i didn't get any starting point from 0 so i will wait for more reports for now i 'm closing this.

[2018-04-13 18:37] #171 closed

[2018-04-14 03:55] bamacanuck commented on #169
I (also) feel compelled to extend my apology. I have used udemy-dl with success, several times, since last contributing to this discussion.

thanks

[2018-04-15 08:32] yashdeeph709 opened #173 "Having Trouble Downloading Udemy is able to identify the requests sent from udemy-dl."
``
![image](https://user-images.githubusercontent.com/6427291/38776479-f23219ce-40b4-11e8-97fe-7829c01b4cf0.png)
Hi r0oth3x49,
I was using this tool for some days. I was able to download stuff before. But now I cannot download anything because they might have added some new cookie or something else to the request and they are able to identify the request is sent from python not the browser. I trie

[2018-04-16 09:16] r0oth3x49 commented on #173
@yashdeeph709 i cannot reproduce the error for me it is working fine try to use the most recent repo.

[2018-04-16 11:14] yashdeeph709 commented on #173
Ok Sure, I will to pull the latest and retry. And I will close the issue.

[2018-04-17 15:28] MrEhsanEllahi commented on #141
Thanks, have done it before...

On 17 April 2018 at 20:22, tofanelli <notifications@github.com> wrote:

[2018-04-17 19:09] r0oth3x49 commented on #173
@yashdeeph709 i 'm considering the problem is solved for you, closing the issue and will w8 for other users to report.

[2018-04-17 19:09] #173 closed

[2018-04-17 20:16] hdupre opened #174 "Failure to retrieve course information after successful login"
I am receiving the following error on a specific course (udemy.com/the-web-developer-bootcamp). I downloaded four other courses today without issue.

Here is the error message:

Trying to login as (user@gmail.com)...
[+] : Logged in successfully.
Traceback (most recent call last):on ..
  File "udemy-dl.py", line 1201, in <module>
    main()
  File "udemy-dl.py", line 1042, in main
    udemy.course

[2018-04-18 02:04] ipkpjersi opened #175 "Add Proxy support"
Hello,

Is it possible to add support for like a SOCKS5 proxy with authentication? That way if you download too many videos and they temporarily ban your IP (even after you complete the captcha successfully the temporary ban still lasts, I think for like a few hours?) it would just be the proxy IP and not your actual IP so you can rotate the proxy IP's out for a new one and continue downloading.

[2018-04-18 12:18] ipkpjersi commented on #175
Huh? I explained why it would be good. If you download too many courses at once it bans your IP temporarily and you have to wait to download more, even though you legally own the rights to use the courses. It would be a nice quality of life issue, nothing to do with legality whatsoever.

[2018-04-18 21:19] saexfer opened #176 "KeyError: 'lectures_count' when downloading a course"
The course is: https://www.udemy.com/integrando-docker-a-su-infraestrucutra-y-servicios/
I have been able to download other courses but not this one. Please help me.

[+] : Logged in successfully.
[*] : Downloaded course information .. (done)
Traceback (most recent call last):
  File "udemy-dl.py", line 1201, in <module>
    main()
  File "udemy-dl.py", line 1053, in main
    udemy.course_list_dow

[2018-04-19 21:55] ipkpjersi opened #177 "Unable to extract login-form"
Whenever I try to download a course, I get:

[-] Unable to extract login-form form

[2018-04-20 05:02] r0oth3x49 commented on #177
i cannot reproduce for me it is working fine.
![capture](https://user-images.githubusercontent.com/11024397/39031482-ea34e3fc-4481-11e8-837b-d03d084fa616.PNG)

[2018-04-20 05:12] r0oth3x49 commented on #176
@saexfer clone the most recent version on github and then try to download if you still face the error then i might need your account to test against this course because i don't have this course in my account.

[2018-04-20 08:50] ochrstn commented on #177
I had the same error but a few minutes later it was working again without changing anything.

[2018-04-20 12:27] ipkpjersi commented on #177
I am not sure what is happening but I am definitely getting this issue. It seems I keep getting captcha after downloading like one course, I am not sure if my account is permanently flagged but udemy-dl is essentially useless to me as I literally cannot use it anymore. I went to an empty directory, with a VPN with an IP I don't normally use on this account, downloaded one course and got connection

[2018-04-20 14:59] seanwhe commented on #177
Yip definitely something amiss all I get is

[-] Unable to extract login-form form

After I leave the attempt for some time I am able to download again

[2018-04-21 10:56] r0oth3x49 commented on #177
@ipkpjersi as this is working for you now and i can't reproduce the error so i 'm going to close the issue now.

[2018-04-21 10:56] #177 closed

[2018-04-21 11:07] r0oth3x49 commented on #174
@hdupre i 'm considering that this is solved for you so i 'm going to close the issue as i cannot reproduce for me it works fine.

[2018-04-21 11:07] #174 closed

[2018-04-21 11:12] #176 closed

[2018-04-21 19:49] ipkpjersi commented on #177
@r0oth3x49

I mean, it's not quite solved. Having proxy support and support for a delay between episodes downloading would go a long way against their new anti-downloading measures.

I have implemented a 20 second delay with the "sleep" command on Linux between downloading courses and it has helped until it started happening again, so then I waited a couple hours and increased it to a 60 second de

[2018-04-23 15:46] AnthonyIp opened #178 "Issue : Unable to extract login-form form"
Hello,

Recently, i have some issue with the script to download the course that I bought.
When I tried to download multiple course at same time, I met this error "Unable to extract login-form form" without any other explanation.
Each I have to wait about 2~3 min in order to download the next course.

Is it a new security from Udemy?

Thanks in advance

[2018-04-23 19:03] r0oth3x49 commented on #178
@AnthonyIp udemy detects bots. so try to download course one by one instead simultaneously.

[2018-04-26 09:35] jaan143 opened #179 "udemy error"
hello dear
i am getting error
its downloading only lectures folder but not downloading videos inside sections

[2018-04-26 10:39] TechieGenie opened #180 "Cannot download from udemy for business accounts"
Hi, I am unable to download the videos from udemy for business accounts where a particular subdomain name comes before udemy.com

I think currently there are no handlers which could download from business accounts. I have just now signed up for business account where they give access to all videos for free for 14 days and I just wanna download them all :grin:

Please fix this issue, it will be ver

[2018-04-26 10:57] tithamane commented on #180
I think this goes against the spirit of this downloader. Most of us buy courses on a regular and sometimes we need these courses offline for the times we know our internet is going to be really bad. But it seems like you want to just rip them off instead of supporting the content creators. Some of the content creators do a really good job and continue to do so as we support them.

Just my 2 cents.

[2018-04-26 11:08] jaan143 commented on #180
@TechieGenie did they allow to watch all new programming courses ? or just selected courses from them ?

i want to buy business also but wanna know before

[2018-04-26 11:25] ajay75 commented on #179
Yes,
I do have the same issue. Its download folder only, but no video or instructions file.

[2018-04-26 11:33] afiffrusydan commented on #179
I have sameproblem

[2018-04-26 11:43] bibek761 commented on #179
Same issue here

[2018-04-26 12:27] msedek commented on #179
unable to extract login form

[2018-04-26 12:40] r0oth3x49 commented on #179
@jaan143 i don't have access to any business subscription so i cannot test against the business account. but i have tested this against one of the business account in past days (creds was given by a friend on my email) it was working fine for me. if you want me to test it against your business subscription then you can [email](mailto:nasir251292@gmail.com) me your credentials.

[2018-04-26 12:41] r0oth3x49 commented on #180
@TechieGenie  i don't have access to any business subscription so i cannot test against the business account. but i have tested this against one of the business account in past days (creds was given by a friend on my email) it was working fine for me. if you want me to test it against your business subscription then you can email me your credentials.

[2018-04-26 12:57] jaan143 commented on #179
@r0oth3x49 bro today udemy updated their website with little changes thats the reason i think

[2018-04-26 13:05] msedek commented on #179
I can login now but it still has the problem that it will not download the lecturas.. also 3 days ago, I downloaded a module and the subtitles didnt come down

[2018-04-26 15:49] jaan143 commented on #180
@TechieGenie  i know bro but i just want to know that you can watch every course or just few courses which udemy team allow on business account

[2018-04-26 17:04] r0oth3x49 commented on #179
@jaan143 exactly i have just checked API response is different then what it was before. i will upgrade the code ASAP.

[2018-04-26 20:37] #179 closed

[2018-04-27 05:45] r0oth3x49 commented on #180
@TechieGenie i cannot reproduce the error you are facing for me it works fine on business account as well. so i 'm going to close this issue as invalid. if you still face the error you can send me an [email](mailto:nasir251292@gmail.com)  we will discuss there.
here is a POC.
![capture](https://user-images.githubusercontent.com/11024397/39346488-cf3fbd7a-4a07-11e8-8739-9fac7e861735.PNG)

[2018-04-27 05:45] #180 closed

[2018-04-27 08:40] jaan143 commented on #179
@r0oth3x49 bro i need your help
please give me your email address i will explain you
thanks

[2018-04-27 09:56] progamerz opened #181 "Unable to extract login-form form"
![image](https://user-images.githubusercontent.com/13268454/39357085-681facb4-4a1a-11e8-945d-5ca98f6782d9.png)

[2018-04-27 10:49] afedulov opened #182 "ImportError: No module named colorama"
After successfully installing dependencies with
`sudo pip install -r requirements.txt
`
Running
`sudo python udemy-dl.py ...`
Throws **ImportError: No module named colorama** exception.
MacOS 10.12.6

Would appreciate any advice on how to fix this.

[2018-04-27 17:45] kamalhm opened #183 "Only found chapter, videos not found"
Is this because of udemy update? or is it because of my pc?

windows 10, python 3.6

[2018-04-27 20:04] r0oth3x49 commented on #183
already fixed check : #179

[2018-04-27 20:04] #183 closed

[2018-04-27 20:07] r0oth3x49 commented on #182
@afedulov try to install each module separately with pip.

sudo pip install modulename --upgrade

[2018-04-27 22:50] TonioGela commented on #179
buddy I pulled the project right now (at the time I'm writing) and I passed from 0 lectures for chapter to "unable to extract login-form". Is everything ok about the API response parsing? Do you placed the fix on the master branch? Is udemy's API signature changed twice in a day?

[2018-04-28 01:35] kamalhm commented on #183
but where is the updated release? I dont see any upgrade from 0.4

[2018-04-28 01:44] jskarulis opened #184 "[-] Unable to extract login-form form"
Getting error after downloading several courses.
The error occurs immediately after the output statement that is Trying to login

[*] : Trying to login as (        )...
[-] Unable to extract login-form form

[2018-04-28 10:07] sinusjz commented on #184
I'm also having this exact problem.
It was working fine until few days ago.

[2018-04-28 10:14] r0oth3x49 commented on #184
@jskarulis , @sinusjz you should wait before retrying to download another course because udemy detects attempts as bot. try after few minutes this will wok fine.

[2018-04-28 10:41] r0oth3x49 commented on #184
@TonioGela i have tested this solution and changing user agent works but not always and you can check the previous commits for solving this problem was a simple change of user agent.

[2018-04-28 10:46] TonioGela commented on #184
It couldn't have been so easy obviously. Maybe it's something else in the header, and maybe trying to decompile the android app can be useful. But maybe it's simply not worthy when you could just wait some minutes and retry. In the worst case the control is made server side per user and there's simply a datasize over time limit.

[2018-04-28 11:04] r0oth3x49 commented on #183
@kamalhm you should check commits instead version upgrade.

[2018-04-28 13:04] kamalhm commented on #183
I see, thank you, sorry for bothering you i'm still new to github :D

[2018-04-28 14:06] #182 closed

[2018-04-28 14:08] r0oth3x49 commented on #184
@jskarulis for now i 'm going to close this issue as the current solution to tackle this problem is to wait for few minutes and then try to download.

[2018-04-28 14:08] #184 closed

[2018-04-30 11:27] progamerz opened #185 "Udemy API Structure"
Saw this commit on other udemy-dl gui version from another developer, probably u can look into it? cuz till now i am only getting empty files trying to download, would appreciate it soo much if fixed:

https://github.com/FaisalUmair/udemy-downloader-gui/commit/5a11279a60202a119becad9b8284d60f1e50b878

[2018-04-30 17:03] r0oth3x49 commented on #179
@TonioG it works fine.

Have a look.
![capture](https://user-images.githubusercontent.com/11024397/39439792-431d98f4-4cc2-11e8-9626-9e000d11efdb.PNG)

[2018-04-30 17:06] TonioGela commented on #179
Sorry pal, it was an old comment done before the other discussion we had in the other bug's thread

[2018-04-30 17:06] r0oth3x49 commented on #185
@progamerz you should check recent version and issues those are resolved before creating any issue. have a look at #179  i already added a fix for this 4 days ago. and here is POC for today from my account. i going to close this as invalid.

![capture](https://user-images.githubusercontent.com/11024397/39439934-b680d6c6-4cc2-11e8-8a73-f948fb283088.PNG)

[2018-04-30 17:06] #185 closed

[2018-05-01 02:05] sagarsamrat3956 opened #186 "problem!!!"
hello sir, in previous time this udemy-dl-master helps alot to download the video but when the udemy maintaince some information at that time this software won't work. please fixed this issue . also i write command like this : python udemy-dl.py <url> -u <username> -p <password> download also occur but it said their are no any video to download so . i wish u'll fix the problem what i faced.

[2018-05-01 03:36] rajnish1989 opened #187 "Max retries exceeded with url: /join/login-popup (Caused by SSLError(SSLError(1, u'[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)'),))"
I am getting below error on macOS Sierra.can someone help me out. i tried every possible solution like upgrading the ssl and all but no luck.

[INFO-835] Downloading to: /Users/rk185269/java-the-complete-java-developer-course

[INFO-107] Trying to log in ...
Traceback (most recent call last):
File "/usr/local/bin/udemy-dl", line 7, in
main()
File "/Library/Python/2.7/site-packages/udemy_dl/udemy_d

[2018-05-01 04:58] vikasnewports commented on #186
try the new version

[2018-05-01 05:00] sagarsamrat3956 commented on #186
can u givr me the link of new version please ??
On May 1, 2018 10:44 AM, "vikasnewports" <notifications@github.com> wrote:

[2018-05-01 09:30] sagarsamrat3956 opened #188 "problem"
when i download the subtile of the video it downloads the first video subtitle and remaining video subtitle shows the error like this :

Traceback (most recent call last):
  File "udemy-dl.py", line 1201, in <module>
    main()
  File "udemy-dl.py", line 1034, in main
    udemy.course_download(caption_only=options.caption_only, path=options.output)
  File "udemy-dl.py", line 433, in course_downloa

[2018-05-01 09:38] prateekdaniels commented on #179
I am still getting the error inspite of downloading the new code

[2018-05-01 15:52] r0oth3x49 commented on #188
@sagarsamrat3956 details required for the next time i will not facilitate such kind of issues i will soon add a reporting critera. you should explain completely instead simply showing the error you are facing.

what was the course, course url, and other details etc.

[2018-05-01 16:34] sagarsamrat3956 commented on #188
this course:
https://www.udemy.com/complete-intensive-english-course-for-beginners/

On Tue, May 1, 2018 at 9:37 PM, Nasir Khan <notifications@github.com> wrote:

[2018-05-01 16:43] sagarsamrat3956 commented on #188
but the other course subtitle download successfully but this course
subtitle why :
https://www.udemy.com/complete-intensive-english-course-for-beginners/learn/v4/content

On Tue, May 1, 2018 at 10:19 PM, unity me <unityme2016@gmail.com> wrote:

[2018-05-01 16:55] r0oth3x49 commented on #188
@sagarsamrat3956 i i don't have this course in my account so i cannot test against this one. if you really want me to solve this issue for you, You can [email](mailto:nasir251292@gmail.com) me your credentials and once the bug is resolved i will let you know.

the other solution to this is, you can simply skip the subtitle for that perticular chapter or lecture.

[2018-05-01 17:09] Redlava60 opened #189 "empty folders created"
https://i.imgur.com/GGrZJ5v.png

The course link is https://www.udemy.com/trig-by-krista-king
My commands are simply the -u username -p password courseurl

before maybe 1 week or so it worked well not sure what suddenly happened, it created empty folder for each section in course

[2018-05-01 17:18] r0oth3x49 commented on #189
@Redlava60 please read this : [Issue reporting guideline](https://github.com/r0oth3x49/udemy-dl#issue-reporting-guideline). anyways you should clone the recent repository already added a fix for this

[2018-05-01 17:30] sagarsamrat3956 commented on #188
sorry it is personal so i can't . anyway thank u so much !!!!

On Tue, May 1, 2018 at 11:07 PM, Nasir Khan <notifications@github.com>
wrote:

[2018-05-01 17:32] #188 closed

[2018-05-01 20:44] RuthCollins opened #190 "0 lecture found"
I tried to download my course but I got this feedback: "0 lecture(s) found.
[*] : Course 'the-web-developer-bootcamp'.
[+] : Chapter(s) (39).
[*] : Lecture(s) (0).

[*] : Downloading chapter : (1 of 39)
[+] : Chapter (01 Introduction to this Course)
[*] : Found (0) lectures ...

[*] : Downloading chapter : (2 of 39)
[+] : Chapter (02 Introduction to Front End Development)
[*] : Found (0) lectures

[2018-05-01 21:12] Redlava60 commented on #190
Reclone the udemy dl git and it will work well.

[2018-05-02 05:43] linneudm commented on #190
This issue is solved. #189

[2018-05-02 08:57] #190 closed

[2018-05-02 09:07] r0oth3x49 commented on #190
@RuthCollins you should follow the guideline  before creating and issue otherwise i will directly close the issue without resolving as **follow-reporting-guideline** label.

[2018-05-02 10:38] jaan143 opened #191 "udemy lecture"
hello i am getting error on lecture 052's asset file so i want to start downloading from lecture 53
and i wam using this command but its giving me error on lecture 52's asset file

D:\Downloads\dlmster\uddl.py -o 'D:\contents\New folder' -u *****@***.com -p ***** --skip-sub --lecture-start 53 https://www.udemy.com/growthhacking****/

please help me to solve it

[2018-05-02 12:29] r0oth3x49 commented on #191
@jaan143 i have already given a help under the Usage how you can use. check the [Usage](https://github.com/r0oth3x49/udemy-dl#usage)

[2018-05-02 12:29] #191 closed

[2018-05-02 12:59] jaan143 opened #192 "udemy spesific lecture"
i dont know why you dont help me here
i tried with this command to download start from specific lecture but its still start downloading from lecture 1

D:\Downloads\dlmster\uddl.py -o 'D:\contents\New folder' -u *****@*.com -p **** --skip-sub -c 6 --lecture-start 053 https://www.udemy.com/growthhacking/

just help me about exact command for this

[2018-05-02 15:28] vikasnewports commented on #192
try the below mentioned command and edit it according to your need
python udemy-dl.py  --lecture-start 035 --lecture-end 036 -u -p https://www.udemy.com/growthhacking/
035 or 35 lecture number give a try to variation, if above not working

[2018-05-02 16:55] lynecker opened #193 "Unable to extract course idation"
:red_circle: This issue have been up again :red_circle:
maybe some udemy system update make this issue up again i think.
any chance to fix that?
thank's

I have test with linux and windows, the both got same error.

[2018-05-02 17:44] r0oth3x49 commented on #193
@lynecker thank for the report. recently i was discussing this error on [comment](https://github.com/r0oth3x49/udemy-dl/issues/184#issuecomment-385164513) please take and look and let me know if you still face the error.

and one more request please do follow the [Issue Reporting Guideline](https://github.com/r0oth3x49/udemy-dl#issue-reporting-guideline)

[2018-05-02 17:53] jaan143 opened #194 "udemy lecture error"
actually my command is working fine but its not downloading start from spesific lecture
still i am getting this error

i want to skip lecture's 52 asset which i giving me error to download so i want to start downloading from lecture 53 and i am using these commands and all commands are start downloading from first lecture

D:\Downloads\dlmster\uddl.py -o 'D:\contents\New folder' -u ****@y.com -p *

[2018-05-02 17:54] #194 closed

[2018-05-02 17:55] jaan143 commented on #194
@r0oth3x49  if you cannot help then why to open this project just close it and take bed rest
first read github rules

[2018-05-02 17:57] jaan143 commented on #192
@vikasnewports  your command is not working i tried

[2018-05-02 17:58] r0oth3x49 commented on #194
@jaan143 brother if you are not comfortable with using this utility you can go for any one else did i bound you to use this.

[2018-05-02 18:01] jaan143 commented on #194
@r0oth3x49  i used old udemy-dl nishad's project and i know little bit about python thats
he closed this project thats why i am using this one i just want to clear which command i need to use for downloading start from lecture 053 and you didnt help
i read all usage and i tried one by one but its start downloading from first lecture

[2018-05-02 18:04] jaan143 commented on #194
@r0oth3x49  how much time it will take you to give example ? less than 30 seconds

[2018-05-02 18:15] jaan143 commented on #194
bro sorry if i take your time
its important to add lecture end option also ?
if i just use only lecture start option and it will not finish auto on lecture end ?

[2018-05-02 18:33] r0oth3x49 commented on #194
@jaan143 lets start from scratch.
 - delete the old udemy-dl
 - download/clone again from here on github (remember this repository cannot be installed via pip)
 - change to the root directly where udemy-dl.py is.
 - then run the commands.
 - pip install -r requirements.txt
 - python udemy-dl.py COURSE_URL --chapter 6 --lecture-start 2 or 3 where ever you wish to start with.
 - once chapter 6 is do

[2018-05-02 18:38] jaan143 commented on #194
@r0oth3x49 bro these are done
download/clone again from here on github (remember this repository cannot be installed via pip)
pip install -r requirements.txt

but how to change root directly
change to the root directly where udemy-dl.py is.

[2018-05-03 05:37] #193 closed

[2018-05-03 05:40] r0oth3x49 commented on #194
@jaan143 [here](https://github.com/r0oth3x49/udemy-dl/issues/141#issuecomment-373727754) is more better explaination of using via cmd by @tofanelli bro.

[2018-05-03 12:35] jaan143 commented on #194
@r0oth3x49  bro this command is not working
---chapter-start 5 --chapter-end 11 https://www.udemy.com/new-manager-training/

i want to download chapter 5 to chapter 11
for this what is exactly command ?

[2018-05-05 01:04] anees2017 opened #196 "not download"
[*] : Username : abc@gmail.com
[*] : Password : 3456
[*] : Trying to login as (abc@gmail.com)...
[+] : Logged in successfully.
[-] : Udemy Says : Resource not found. Run udemy-dl against course within few seconds.
[*] : Trying to logout now...
[+] : Logged out successfully.

[2018-05-05 06:11] #196 closed

[2018-05-05 11:34] Wayne-Mather opened #197 "Unable to extract login-form form"
Hi,

Is anyone else getting this issue?

I am running Version 0.4 (commit 59ba1efb5f3e227ab2d563bb964479af125d6794) under python3 (3.6.5) on Fedora 27 x64.

This is on every single course I have tried it on.

[2018-05-05 11:50] emekaorjiani opened #198 "It hangs from time to time I had to reinitialise the downloads"

[2018-05-05 12:00] emekaorjiani commented on #197
Am also getting the same issue [-] Unable to extract login-form form

[2018-05-05 13:53] r0oth3x49 commented on #198
@emekaorjiani please do follow issue reporting guideline

[2018-05-05 13:53] #198 closed

[2018-05-05 13:59] r0oth3x49 commented on #197
@Wayne-Mather did you check this #184 i already have discussed the solution. thanks for the explaining the issue you are facing you should also check if the issue is discussed or not...

[2018-05-05 13:59] #197 closed

[2018-05-05 16:05] githubnewbee1 opened #199 "cannot download due to html?"
[INFO-884] Downloading to: D:\My Videos\eLearning_Videos\Download

[INFO-127] Trying to log in ...
[INFO-157] Login success.
[INFO-189] Found course id: 555462

Getting course data: 2.44% [--------------------] [CRITICAL-428] Cannot download lecture "Introduction to Multivariate Analysis (MVA) Course": "u'view_html'"
Getting course data: 98.78% [====================] [CRITICAL-428] Cannot download

[2018-05-05 18:46] #199 closed

[2018-05-05 23:07] Wayne-Mather commented on #197
@r0oth3x49 - I got it after upgrading to the latest commit and running my scripts probably 2 months after they were last run. I can confirm that after waiting over night, the downloads are working again as expected.

And normally I do search first but as I saw no open tickets I asked this question. You are correct in that I should have looked at closed tickets as well.

I wonder if you could captu

[2018-05-06 03:28] r0oth3x49 commented on #197
@Wayne-Mather that is a great suggestion thank you, i will work on this ASAP & i really appreciate, thanks man for following Issue Reporting guideline, this helps a lot.

[2018-05-11 00:19] tofanelli opened #200 "Error on downloading"
Hey guys

does someone is facing any issues to download courses? I'm trying to download some here and go this error

`[-] Unable to extract login-form form`

Is ok for all of you?? before get this error (tried a few times), the first error was this one

![image](https://user-images.githubusercontent.com/5512922/39900360-bc6ceb88-5497-11e8-8374-fe81a349b3db.png)

And this course has almost 200 lect

[2018-05-11 07:43] r0oth3x49 commented on #200
@tofanelli you should use the latest `master` this was an old issue and already resolved in #179 . and please one more request i will appreciate if you follow [Issue Reporting Guideline](https://github.com/r0oth3x49/udemy-dl#issue-reporting-guideline).

about `[-] Unable to extract login-form form` issue. this is discussed in issue #184  please have a look at that as well if you still face some pr

[2018-05-11 07:43] #200 closed

[2018-05-11 21:18] pppedrillo opened #201 "Impossible to input password correctly"
Win 10, powershell
Latest udemy-dl

Steps to repro:
1. Start the app without specified credentials
python.exe .\udemy-dl.py https://udemylinkhere --skip-sub
2. Type in username : OK
3. Start type a password:  KO
Every time a key is pressed - there is 2 asterisks appears in the line
After password entered observe that there is twice more asterisks than symbols in the password
Script can not login.

[2018-05-12 05:25] r0oth3x49 commented on #201
@pppedrillo thanks for the report i will try to reproduce & fix it ASAP. BTW that was an old issue #112 which was fixed at that time & i have tried to reproduce in win8.1, for me it works fine, I will test on win10 as well.

POC for win8.1
![capture](https://user-images.githubusercontent.com/11024397/39953926-ca8599c6-55ce-11e8-8bd5-31497d9a4d15.PNG)

[2018-05-13 11:06] r0oth3x49 commented on #141
@tofanelli sorry for the very very late comment on this issue, next version of udemy-dl will be up soon which will have a fix & support for downloading almost all languages.

following the the sample POCs.
![capture1](https://user-images.githubusercontent.com/11024397/39966571-94b1bcc2-56c7-11e8-8fa8-d086a8f01fde.PNG)
![pr](https://user-images.githubusercontent.com/11024397/39966572-94ee1730-56c7-

[2018-05-13 16:32] tofanelli commented on #141
uuuuhhhhhhhhhuhuhuhuuuuuuuuuuuu... finally!!!!! the links i sent you worth after all then?? =)

[2018-05-13 17:33] r0oth3x49 commented on #141
yeah :smile:

[2018-05-14 10:38] Murtadhajfadhil opened #202 "Error Traceback (most recent call last):"
I'm using the below arguments to download this course https://www.udemy.com/java-the-complete-java-developer-course

python udemy-dl.py -u *********@outlook.com -p ******** --skip-sub https://www.udemy.com/java-the-complete-java-developer-course

and after the lecture number 025 I'm getting this error:

Traceback (most recent call last):
  File "udemy-dl.py", line 1201, in <module>
    main()
  Fi

[2018-05-14 11:37] r0oth3x49 commented on #202
@Murtadhajfadhil you check [this](https://msdn.microsoft.com/en-us/library/aa365247(VS.85).aspx#maxpath) or [this one](https://stackoverflow.com/questions/1880321/why-does-the-260-character-path-length-limit-exist-in-windows).

[2018-05-14 11:38] #202 closed

[2018-05-14 17:12] adriannx opened #203 "Unable to extract course idation"
Maybe some udemy system update make this issue up again i think.
any chance to fix that?

Regards!

[2018-05-14 17:51] r0oth3x49 commented on #203
@adriannx you should wait and then retry after few minutes. take a look at issue #184 .

[2018-05-14 17:51] #203 closed

[2018-05-14 17:59] adriannx commented on #184
That's what I did, I've tried every hour and I get the same message.

Or maybe udemy banned my IP?

[2018-05-14 18:00] adriannx commented on #184
@r0oth3x49
That's what I did, I've tried every hour and I get the same message.

Or maybe udemy banned my IP?

[2018-05-14 18:05] adriannx commented on #203
@r0oth3x49 Hello,  I just confirmed, udemy bans the IP.
I used VPN and when changing my IP I was able to download the course.

Regards!

[2018-05-15 06:00] r0oth3x49 commented on #203
@adriannx udemy detects many attemps as bot so its to download courses with time interval let say 3 to 5 minutes so that it does not block you.

[2018-05-15 06:05] kemparaju opened #204 "Videos not downloading"
When given the url of the udemy course only empty folders are created

[2018-05-15 07:55] #204 closed

[2018-05-15 16:18] tofanelli commented on #141
eagerly waiting for this new version =)

[2018-05-15 16:35] afedulov commented on #182
I had to do `sudo pip uninstall colorama` to globally remove it and then do `pip install --user colorama` to install it into a home folder, where it could be detected by udemy-dl